<template>
  <div v-if="browsingBoard">
    <Header/>
    <BoardNavigator />
    <!-- 추천글 -->
    <BoardRecommended class="w-100" :board="browsingBoard" :title="`${$t('추천글')}`" />

    <!-- 인기글 -->
    <div class="container-lg mobile-no-px">
      <div class="row py-5 no-gutters">
        <div class="col-12">
          <BoardPopular :board="browsingBoard" :title="`${$t('인기글')}`" :number="5" />
        </div>
      </div>
    </div>

    <!-- 게시판 글 -->
    <div class="container-lg py-3 mobile-no-px">
      <div class="row no-gutters">
        <div class="col-12">
          <BoardPosts :board="browsingBoard" />
        </div>
      </div>
    </div>

    <Footer/>
  </div>

</template>

<style scoped>
</style>

<script>
// @ is an alias to /src
import store from '@/store';
import { mapGetters } from 'vuex';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import BoardPopular from '@/components/Board/BoardPopular.vue';
import BoardRecommended from '@/components/Board/BoardRecommended.vue';
import BoardPosts from '@/components/Board/BoardPosts.vue';

export default {
  name: 'BoardView',
  props: {
  },
  components: {
    Header,
    Footer,
    BoardNavigator,
    BoardRecommended,
    BoardPopular,
    BoardPosts,
  },
  data() {
    return {
    };
  },
  methods: {
  },
  computed: {
    ...mapGetters(['boardList', 'browsingBoard']),
  },
  mounted() {
    store.dispatch('SET_BOARD', this.$route.params.urlNamespace);
  },
  watch: {
    $route(to) {
      store.dispatch('SET_BOARD', to.params.urlNamespace);
    },
  },
};
</script>
