<template>
  <div>
    <Header/>
    <BoardNavigator />

    <div v-if="post || isLoading">
      <div class="container-lg">
        <div class="row pt-5" v-if="browsingBoard">
          <div class="col-sm-12">
            <div class="text-right float-right"
                 v-if="post &&
                 (((isAuthenticated && post.user.public_id !== null
                 && userInfo.public_id === post.user.public_id) ||
                 (userInfo && userInfo.is_superuser)) ||
                 (post.user.public_id === null))">
              <component
                :is="isAuthenticated ? 'router-link' : 'button'"
                :to="isAuthenticated ?
                        `/boards/${browsingBoard.url_namespace}/posts/${post.id}/modify` :
                        undefined"
                v-if="(updateBtnSeen && (
                (post.anon_author !== null && !isAuthenticated) ||
                ((post.anon_author === null && isAuthenticated &&
                 userInfo.public_id === post.user.public_id) || (userInfo && userInfo.is_superuser))
                ))"
                  @click="isAuthenticated ? undefined : onPasswordInput(post.id)"
                  class="btn btn-outline-secondary mr-2">{{ $t('수정') }}</component>
              <ValidationObserver v-slot="{ handleSubmit }">
                <form @submit.prevent="pwdInputSeen ? handleSubmit(): undefined" autocomplete="off"
                      style="display:inline;">
                  <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                    <span class="form-inline" v-if="pwdInputSeen || delPwdInputSeen">
                      <input type="password" class="form-control mb-2"
                             style="display:inline;padding-right:70px;"
                           :placeholder="$t('비밀번호 입력')"
                           v-model="anon_password" maxlength="16" />
                      <button
                        @click="pwdInputSeen ? changeUpdateMode() : onClickDelete()"
                        class="btn mb-2" style="margin-left:-55px;">{{ $t('완료') }}
                      </button>
                    </span>
                    <span class="formErrorMsg">{{ errors[0] }}</span>
                    <button v-if="(deleteBtnSeen && (
                      (post.anon_author !== null && !isAuthenticated) ||
                      ((post.anon_author === null && isAuthenticated &&
                       userInfo.public_id === post.user.public_id) ||
                       (userInfo && userInfo.is_superuser))
                    ))"
                            @click="isAuthenticated ? onClickDelete(): onPasswordforDelete()"
                            class="btn btn-outline-secondary" type="submit">{{ $t('삭제') }}</button>
                  </ValidationProvider>
                </form>
              </ValidationObserver>
            </div>
            <h4 v-if="post" class="m-0 font-weight-bold">
              <span v-if="post.post_label.key" class="badge badge-warning text-white"
                    style="font-size:11pt;padding: 5px 10px;top:-2px;position:relative;">
                {{ $t('POST_LABELS.' + post.post_label.name) }}
              </span>
              <span class="ml-3">{{ post.title }}</span>
            </h4>
          </div>
        </div>
        <div v-if="post" class="row py-3" style="font-size:11pt;">
          <div class="col-sm-6">
            <span v-if="post.user.public_id !== null" class="mr-2 font-weight-bold">
              {{ post.user.nickname }}
            </span>
            <span v-else class="mr-2 font-weight-bold">{{ post.anon_author }}</span>
            <span>{{ moment.utc(post.created_at).local().format('YYYY.MM.DD HH:mm:ss') }}</span>
          </div>
          <div class="col-sm-6">
            <div class="text-right">
              <span class="font-weight-bold">{{ $t('조회') }}</span>&nbsp;
              <span class="mr-3">{{ post.view_count }}</span>
              <span>{{ $t('추천') }} {{ post.count_likes }}</span>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div v-if="post" class="container-lg mb-5">
        <div style="min-height:10px;">
          <div class="mt-5 mb-5 post-content-wrapper" v-html="post.content"></div>
          <div class="mt-5 text-center">
            <button v-if="!alreadyRecommended"
                    class="btn btn-outline-dark m-2 px-4 py-2"
                    @click="onClickRecommend(post.id)">
              {{ $t('추천하기') }}
            </button>
            <button v-else
                    class="btn btn-dark m-2 px-4 py-2"
                    @click="onClickRecommendCancel(post.id)">
              {{ $t('추천 취소하기') }}
            </button>
            <button class="btn btn-outline-dark m-2 px-4 py-2" @click="onClickFacebook()">
              {{ $t('페이스북 공유하기') }}</button>
          </div>
        </div>
      </div>
      <div  class="container-lg" v-if="browsingBoard && post">
        <h5 class="font-weight-bold">{{ $t('댓글') }}</h5>
        <CommentWrite :board="browsingBoard" :post="post" />
        <div class="py-5">
          <CommentView class="pb-5" :post="post" />
        </div>
      </div>
    </div>

    <div v-else-if="!post && !isLoading" class="text-center py-5">
      <h1 class="py-5">Post Not Found (404)</h1>
    </div>

    <Footer/>
  </div>

</template>

<style>
  .post-content-wrapper img {
    max-width: 100% !important;
  }
</style>

<script>
// @ is an alias to /src
import store from '@/store';
import { mapGetters } from 'vuex';
import axios from 'axios';
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import CommentWrite from '@/components/Comment/CommentWrite.vue';
import CommentView from '@/components/Comment/CommentView.vue';
import '@/api/facebook-sdk';

export default {
  name: 'PostView',
  props: {
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    Header,
    Footer,
    BoardNavigator,
    CommentWrite,
    CommentView,
  },
  data() {
    return {
      state: 'default',
      isLoading: true,
      post: null,
      anon_password: '',
      curPostId: 0,
      pwdInputSeen: false,
      delPwdInputSeen: false,
      updateBtnSeen: true,
      deleteBtnSeen: true,
      disableDeleteBtn: false,
    };
  },
  methods: {
    getPost(postId) {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/posts/${postId}`, {
        params: {
        },
      }).then((res) => {
        this.post = res.data.data;
        this.isLoading = false;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
        this.isLoading = false;
      });
    },
    onPasswordInput(postId) {
      this.curPostId = postId;
      this.deleteBtnSeen = false;
      if (this.state === 'default') {
        this.pwdInputSeen = true;
        this.updateBtnSeen = false;
      }
    },
    onPasswordforDelete() {
      this.deleteBtnSeen = false;
      this.updateBtnSeen = false;
      this.state = 'delete';
      if (this.state === 'delete') {
        this.delPwdInputSeen = true;
      }
    },
    changeUpdateMode() {
      axios.post(`${process.env.VUE_APP_ENDPOINT}/posts/${this.post.id}/anon-password-check`,
        { anon_password: this.anon_password }).then((res) => {
        if (res.status === 200) {
          this.$router.replace(`/boards/${this.browsingBoard.url_namespace}/posts/${this.post.id}/modify`);
        }
      }).catch((error) => {
        if (error.response.status === 403) {
          alert('비밀번호가 올바르지 않습니다. 비밀번호를 확인 후 다시 시도하세요.');
        } else {
          alert('알 수 없는 에러');
          // eslint-disable-next-line
          console.error(error);
        }
      });
    },
    onClickDelete() {
      if (!window.confirm('글을 삭제하시겠습니까?')) {
        return;
      }
      axios.delete(`${process.env.VUE_APP_ENDPOINT}/posts/${this.post.id}`,
        { data: { anon_password: this.anon_password } }).then((res) => {
        if (res.status === 200) {
          alert('삭제 완료');
          // TODO: Improve
          this.$router.replace(`/boards/${this.browsingBoard.url_namespace}`);
        }
      }).catch((error) => {
        if (error.response.status === 403) {
          alert('비밀번호가 올바르지 않습니다. 비밀번호를 확인 후 다시 시도하세요.');
        } else {
          alert('알 수 없는 에러');
          // eslint-disable-next-line
          console.error(error);
        }
      });
    },
    onClickRecommend(postId) {
      if (!this.isAuthenticated) {
        alert('로그인 후 추천할 수 있습니다.');
        return;
      }
      axios.post(`${process.env.VUE_APP_ENDPOINT}/posts/${postId}/liked-users`,
        {}).then((res) => {
        if (res.status === 201) {
          alert('추천 완료!');
          // TODO: Improve
          this.$router.go();
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 409:
            alert('이미 추천한 게시물 입니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
    onClickRecommendCancel(postId) {
      if (!this.isAuthenticated) {
        alert('로그인 후 취소 가능합니다.');
      }
      axios.delete(`${process.env.VUE_APP_ENDPOINT}/posts/${postId}/liked-users`,
        {}).then((res) => {
        if (res.status === 200) {
          alert('추천이 취소되었습니다.');
          // TODO: Improve
          this.$router.go();
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 409:
            alert('추천하지 않은 게시물 입니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
    onClickFacebook() {
      /* eslint-disable */
      FB.ui({
        display: 'popup',
        method: 'share',
        href: window.location.href,
      }, function(response){});
      /* eslint-enable */
    },
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'userInfo', 'browsingBoard']),
    alreadyRecommended() {
      if (!this.isAuthenticated) return false;
      const result = this.post.liked_users.some(
        (entry) => (entry.public_id === this.userInfo.public_id),
      );
      return result;
    },
  },
  mounted() {
    store.dispatch('SET_BOARD', this.$route.params.urlNamespace);
    this.getPost(this.$route.params.postId);
  },
  watch: {
    $route(to) {
      store.dispatch('SET_BOARD', to.params.urlNamespace);
    },
  },
};
</script>
