<template>
  <div v-if="browsingBoard">
    <Header/>
    <BoardNavigator />
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(onSubmit)" autocomplete="off">
        <div class="container-lg pt-5 pb-3">
          <div class="row">
            <div class="col-sm-12">
              <h3 v-if="action === 'write'"
                  class="font-weight-bold mobile-section-title">
                {{ $t('새 글쓰기') }}
              </h3>
              <h3 v-else-if="action === 'modify'"
                  class="font-weight-bold mobile-section-title">
                {{ $t('글 수정') }}
              </h3>
            </div>
          </div>
          <div class="row no-gutters pt-3">
            <div class="col-md-3 col-lg-2">
              <ValidationProvider :rules="{ required: true, oneOf: listLabels }"
                                  v-slot="{ errors }">
                <select class="form-control mb-2"
                        v-model="postModel.post_label">
                  <option value="" disabled selected>{{ $t('글머리 선택') }}</option>
                  <option v-for="postLabel in browsingBoard.post_labels"
                          :key="postLabel.key"
                          :value="postLabel.key">
                    {{ $t('POST_LABELS.' + postLabel.name) }}
                  </option>
                </select>
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="col-md-9 col-lg-10 pl-md-2">
              <ValidationProvider rules="required|min:1|max:255" v-slot="{ errors }">
                <input type="text" class="form-control"
                       :placeholder="$t('글 제목 입력')"
                       v-model="postModel.title" maxlength="255">
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
          </div>
        </div>
        <hr/>
        <div class="container-lg">
          <div class="row py-3">
            <div class="col-md-12">
              <ValidationProvider rules="required|min:8|max:20000" v-slot="{ errors }">
                <PostEditor v-model="postModel.content" />
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
          </div>

          <div class="row pt-3 no-gutters"
               v-if="action === 'write' && !$store.getters.isAuthenticated">
            <div class="col-lg-4 d-none d-lg-block"></div>
            <div class="col-lg-2 col-md-6 pr-md-1">
              <ValidationProvider rules="required|alpha_num|min:2|max:16" v-slot="{ errors }">
                <input type="text" class="form-control mb-2"
                       :placeholder="$t('닉네임 (숫자+영문)')"
                       v-model="postModel.anon_author" maxlength="16" />
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="col-lg-2 col-md-6 pl-md-1">
              <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                <input type="password" class="form-control mb-2"
                       :placeholder="$t('비밀번호 (숫자+영문)')"
                       v-model="postModel.anon_password" maxlength="16" />
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="col-lg-4 d-none d-lg-block"></div>
          </div>

          <div class="row pt-3 no-gutters"
               v-if="action === 'modify' &&
               (!$store.getters.userInfo || !$store.getters.userInfo.is_superuser)
               && postModel.user && postModel.user.public_id === null">
            <div class="col-lg-4 d-none d-lg-block"></div>
            <div class="col-lg-2 col-md-6 pr-md-1">
              <input type="text" class="form-control mb-2"
                     :placeholder="$t('닉네임 (숫자+영문)')"
                     readonly
                     v-model="postModel.anon_author" />
            </div>
            <div class="col-lg-2 col-md-6 pl-md-1">
              <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                <input type="password" class="form-control mb-2"
                       :placeholder="$t('비밀번호 (숫자+영문)')"
                       v-model="postModel.anon_password" maxlength="16" />
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="col-lg-4  d-none d-lg-block"></div>
          </div>

          <div class="row pb-5 mb-5 no-gutters">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <button
                v-if="action == 'write' || (
                  action === 'modify' &&
                  ($store.getters.userInfo && $store.getters.userInfo.is_superuser || (
                  (postModel.anon_author !== null && !$store.getters.isAuthenticated) ||
                  (postModel.anon_author === null && $store.getters.isAuthenticated &&
                       $store.getters.userInfo.public_id === postModel.user.public_id)
                  )
                ))"
                class="btn btn-primary btn-block" type="submit">
                {{ $t('완료') }}
              </button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </form>
    </ValidationObserver>
    <Footer/>
  </div>
</template>

<style scoped>
  a.dropdown-item {
    cursor: pointer;
  }
</style>

<script>
import store from '@/store';
import { mapGetters } from 'vuex';
import axios from 'axios';
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import PostEditor from '@/components/Post/PostEditor.vue';

export default {
  name: 'PostWrite',
  props: {
    action: String,
  },
  components: {
    ValidationObserver,
    ValidationProvider,
    Header,
    Footer,
    BoardNavigator,
    PostEditor,
  },
  data() {
    return {
      selectedPostLabel: null,
      postModel: {
        post_label: '',
        title: '',
        content: '',
        // anon_author: '',
        // anon_password: '',
      },
    };
  },
  methods: {
    getPost(postId) {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/posts/${postId}`, {
        params: {
        },
      }).then((res) => {
        this.postModel = res.data.data;
        this.selectedPostLabel = this.postModel.post_label;
        this.postModel.post_label = this.selectedPostLabel.key;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    onSubmit() {
      if (this.action === 'write') {
        this.writePost();
      } else if (this.action === 'modify') {
        this.modifyPost();
      }
    },
    writePost() {
      axios.post(`${process.env.VUE_APP_ENDPOINT}/boards/${this.browsingBoard.id}/posts`,
        this.postModel).then((res) => {
        if (res.status === 201) {
          this.$router.replace(`/boards/${this.browsingBoard.url_namespace}`);
        }
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    modifyPost() {
      axios.put(`${process.env.VUE_APP_ENDPOINT}/posts/${this.postModel.id}`,
        this.postModel).then((res) => {
        if (res.status === 200) {
          this.$router.replace('./');
        }
      }).catch((error) => {
        if (error.response.status === 403) {
          this.postModel.anon_password = '';
          alert('비밀번호가 올바르지 않습니다. 비밀번호를 확인 후 다시 시도하세요.');
        } else {
          alert('알 수 없는 에러');
          // eslint-disable-next-line
          console.error(error);
        }
      });
    },
  },
  computed: {
    ...mapGetters(['browsingBoard', 'userInfo']),
    listLabels() {
      return this.browsingBoard.post_labels.map((v) => v.key);
    },
  },
  mounted() {
    store.dispatch('SET_BOARD', this.$route.params.urlNamespace);
    if (this.action === 'modify') {
      this.getPost(this.$route.params.postId);
    }
    this.postModel.post_label = this.$route.query.postLabel;
  },
  watch: {
    postModel: {
      deep: true,
      handler(to) {
        switch (to.post_label) {
          case 'ORDER':
            // TODO: Translate
            this.postModel.title = `${this.userInfo.nickname} 고객님 - 포인트샵 주문합니다.`;
            this.postModel.content = '<p>'
              + '주문하는 상품: <br/>'
              + '전화받기 편한 요일/시간: <br/>'
              + '<br/>'
              + '* 주문하시면 상품을 받을 주소 확인을 위한 해피콜이 진행됩니다. {나라별 대표번호}에서 걸려오는 전화를 꼭 받아주세요.'
              + '</p>';
            break;
          case 'INQUIRY':
            // TODO: Translate
            this.postModel.title = `${this.userInfo.nickname} 고객님 - 궁금한 점이 있습니다.`;
            this.postModel.content = '<p>'
              + '댓글과 전화 중 어떤 방법으로 답변 받고 싶으신가요?: <br/>'
              + '전화로 답변 받고 싶으시다면, 전화받기 편한 요일/시간: <br/>'
              + '<br/>'
              + '* 전화로 답변을 받고 싶다고 적어주셨다면 {나라별 대표번호}에서 걸려오는 전화를 꼭 받아주세요.'
              + '</p>';
            break;
          default:
            break;
        }
      },
    },
  },
};
</script>
