<template>
  <div>
    <h3 class="font-weight-bold mobile-section-title pl-3 pl-md-0">
      {{ title }}
      <router-link v-if="urlNamespace"
                   style="position:relative;top: -5px;"
                   class="btn btn-outline-secondary float-right d-none d-md-block"
                   :to="urlNamespace">{{ $t('더보기') }}
      </router-link>
      <router-link v-if="urlNamespace"
                   style="position:relative;top: -5px;"
                   class="btn btn-outline-secondary btn-sm float-right d-md-none mr-2"
                   :to="urlNamespace">{{ $t('더보기') }}
      </router-link>
    </h3>
    <table class="table text-center mt-4 d-mobile-none">
      <thead class="thead-light">
        <tr>
          <th scope="col">{{ $t('번호') }}</th>
          <th scope="col">{{ $t('글머리') }}</th>
          <th scope="col">{{ $t('제목') }}</th>
          <th scope="col">{{ $t('작성자') }}</th>
          <th scope="col">{{ $t('작성일') }}</th>
          <th scope="col">{{ $t('조회') }}</th>
          <th scope="col">{{ $t('추천') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="post in popularPosts" :key="post.id">
          <td scope="row">{{ post.id | laststr(6) }}</td>
          <td>
            <span v-if="post.post_label.key">{{ $t('POST_LABELS.' + post.post_label.name) }}</span>
            <span v-else>{{ $t('없음') }}</span>
          </td>
          <td class="text-left">
            <router-link :to="`/boards/${board.url_namespace}/posts/${post.id}`">
              <span :class="{ 'font-weight-bold': post.count_likes >= 100,
              'primary700': post.count_likes >= 50 }">{{ post.title }}</span>&nbsp;
              <span class="text-muted" v-if="post.count_comments > 0">
                [{{ post.count_comments }}]
              </span>
            </router-link>
          </td>
          <td>
            <span v-if="post.user.public_id !== null">{{ post.user.nickname }}</span>
            <span v-else>{{ post.anon_author }}</span>
          </td>
          <td>{{ moment.utc(post.created_at).local().format('YYYY.MM.DD') }}</td>
          <td>{{ post.view_count | cntlimited(5) }}</td>
          <td>{{ post.count_likes | cntlimited(4) }}</td>
        </tr>
      </tbody>
    </table>

    <!-- 게시물 목록 (모바일)-->
    <ol class="board-posts-mobile d-md-none">
      <li v-for="post in popularPosts" :key="`mpp-${post.id}`" class="px-3">
        <div>
          <span class="text-primary mr-2">
            {{ $t('POST_LABELS.' + post.post_label.name) }}
          </span>
          <router-link :to="`/boards/${board.url_namespace}/posts/${post.id}`">
            <span>{{ post.title | truncate(30) }}</span>&nbsp;
          </router-link>
        </div>
        <div class="pt-1" style="font-size:10pt;">
          <span v-if="post.user.public_id !== null" class="mr-3">{{ post.user.nickname }}</span>
          <span v-else class="mr-3">{{ post.anon_author }}</span>
          <span class="mr-3">{{ moment.utc(post.created_at).local().format('YYYY.MM.DD') }}</span>
          <span class="mr-3">조회 {{ post.view_count | cntlimited(5) }}</span>
          <span>추천 {{ post.count_likes | cntlimited(4) }}</span>
        </div>
      </li>
    </ol>
  </div>

</template>

<style scoped>
  table {
    font-size: 11pt;
    border-bottom: 1px solid black;
  }
  table thead tr th {
    border-top: 1px solid black!important;
  }
</style>

<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'BoardPopular',
  props: {
    board: Object,
    title: String,
    urlNamespace: String,
    number: Number,
  },
  components: {
  },
  data() {
    return {
      popularPosts: [],
    };
  },
  methods: {
    getPosts(boardId, params) {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/boards/${boardId}/posts`, {
        params,
      }).then((res) => {
        this.popularPosts = res.data.data;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
  },
  mounted() {
    if (this.board) {
      this.getPosts(this.board.id, { is_popular: 1, limit: this.number });
    }
  },
  watch: {
    board(to) {
      if (to) {
        this.getPosts(this.board.id, { is_popular: 1, limit: this.number });
      }
    },
  },
};
</script>
