<template>
  <div style="background-color:#f6f7f9;" v-if="recommendedPosts.length > 0">
    <div class="container-lg">
      <div class="row pt-5">
        <div class="col-12">
          <h3 class="font-weight-bold mobile-section-title">{{ title }}</h3>
          <div class="row mt-4">

            <div :class="{ 'col-md-6': recommendedPosts.length >  1,
            'col-md-12': recommendedPosts.length ===  1 }"
                 v-for="post in recommendedPosts" :key="post.id">
              <router-link :to="`/boards/${board.url_namespace}/posts/${post.id}`">
                <div class="card mb-md-5 mb-2" style="background: #f6f7f9; border:none;">
                  <div class="row no-gutters">
                    <div :class="[`col-4`, { 'has-only-one': recommendedPosts.length === 1 }]">
                      <div class="card-img border mobile-recommended-img"
                           style="display:inline-block;overflow:hidden;">
                        <img style="max-width: 100%; height:auto;"
                             :src="extractImageUrls(post.content)">
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body" style="padding-top: 0; padding-bottom: 0;">
                        <h6 class="card-title">
                          <span class="badge badge-warning text-white" v-if="post.post_label.key">
                            {{ $t('POST_LABELS.' + post.post_label.name) }}
                          </span> {{ post.title | truncate(65) }}
                        </h6>
                        <p class="card-text text-muted d-none d-md-block">
                          {{ post.content | striphtml | truncate(130) }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </router-link>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped>
  p {
    font-size: 11pt;
  }
@media (max-width: 576px) {
  .mobile-recommended-img {
    height: 80px!important;
  }
}
@media (min-width: 576px) {
  .mobile-recommended-img {
    height: 120px!important;
  }
}
@media (min-width: 768px) {
  .mobile-recommended-img {
    height: 90px!important;
  }
  .has-only-one .mobile-recommended-img {
    height: 180px!important;
  }
}
@media (min-width: 992px) {
  .mobile-recommended-img {
    height: 90px!important;
  }
  .has-only-one .mobile-recommended-img {
    height: 180px!important;
  }
}
@media (min-width: 1200px) {
  .mobile-recommended-img {
    height: 120px!important;
  }
  .has-only-one .mobile-recommended-img {
    height: 240px!important;
  }
}
</style>

<script>
// @ is an alias to /src
import axios from 'axios';

export default {
  name: 'BoardRecommended',
  props: {
    board: Object,
    title: String,
  },
  components: {
  },
  data() {
    return {
      recommendedPosts: [],
    };
  },
  methods: {
    getPosts(boardId, params) {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/boards/${boardId}/posts`, {
        params,
      }).then((res) => {
        this.recommendedPosts = res.data.data;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    extractImageUrls(content) {
      const urls = [];
      const str = content;
      const rex = /<img[^>]+src="?([^"\s]+)"?[^>]*>/g;
      let m = rex.exec(str);
      while (m) {
        urls.push(m[1]);
        m = rex.exec(str);
        break; // 이미지 하나만 찾으면 break
      }
      if (urls.length > 0) {
        return urls[0];
      }
      // TODO: Change default image
      return 'https://fakeimg.pl/180x125/?text=IMAGE';
    },
  },
  mounted() {
    if (this.board != null) {
      this.getPosts(this.board.id, { is_recommended: 1, limit: 4 });
    }
    this.extractImageUrls();
  },
  watch: {
    board(to) {
      this.getPosts(to.id, { is_recommended: 1, limit: 4 });
    },
  },
};
</script>
