<template>
  <div>
    <div id="boardPosts" class="w-100">
      <div id="boardLabelNavigator">
        <!-- 게시판 글머리 네비게이터 -->
        <ol id="navPost">
          <li class="nav-item">
            <a class="nav-link" @click="onClickLabel(null)">
              <h3 :class="[`mobile-section-title`, { 'font-weight-bold': !postLabel }]">
                {{ $t('모든 글') }}
              </h3>
            </a>
          </li>
          <li v-for="post_label in board.post_labels"
              :key="post_label.key"
              class="nav-item">
            <a class="nav-link" @click="onClickLabel(post_label.key)">
              <h3 :class="[`mobile-section-title`,
                { 'font-weight-bold': postLabel === post_label.key }]">
                {{ $t('POST_LABELS.' + post_label.name) }}
              </h3>
            </a>
          </li>
        </ol>
      </div>
      <router-link class="btn btn-primary float-right d-none d-md-block"
                   style="position:absolute;right:15px;top:3px;"
                   :to="`/boards/${board.url_namespace}/write`">
        {{ $t('새 글쓰기') }}
      </router-link>
    </div>

    <!-- 게시글 목록 -->
    <table class="table text-center d-mobile-none" style="" v-if="userPosts">
      <thead class="thead-light">
        <tr>
          <th scope="col">{{ $t('번호') }}</th>
          <th scope="col">{{ $t('글머리') }}</th>
          <th scope="col">{{ $t('제목') }}</th>
          <th scope="col">{{ $t('작성자') }}</th>
          <th scope="col">{{ $t('작성일') }}</th>
          <th scope="col">{{ $t('조회') }}</th>
          <th scope="col">{{ $t('추천') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="post-notice" v-for="post in noticePosts" :key="`np-${post.id}`">
          <td scope="row">{{ post.id | laststr(6) }}</td>
          <td class="font-weight-bold">{{ $t('공지') }}</td>
          <td class="text-left">
            <router-link :to="`/boards/${board.url_namespace}/posts/${post.id}`">
              <span class="font-weight-bold">{{ post.title | truncate(30) }}</span>&nbsp;
              <span class="text-muted" v-if="post.count_comments > 0">
                [{{ post.count_comments }}]
              </span>
            </router-link>
          </td>
          <td>
            <span v-if="post.user.public_id !== null">{{ post.user.nickname }}</span>
            <span v-else>{{ post.anon_author }}</span>
          </td>
          <td>{{ moment.utc(post.created_at).local().format('YYYY.MM.DD') }}</td>
          <td>{{ post.view_count | cntlimited(5) }}</td>
          <td>{{ post.count_likes | cntlimited(4) }}</td>
        </tr>
        <tr v-for="(post, index) in userPosts.data" :key="`up-${post.id}`"
            :class="{ firstPost: !index }">
          <td scope="row">{{ post.id | laststr(6) }}</td>
          <td>
            <span v-if="post.post_label.key">{{ $t('POST_LABELS.' + post.post_label.name) }}</span>
            <span v-else>{{ $t('없음') }}</span>
          </td>
          <td class="text-left">
            <span v-if="post.post_status === -1">
              {{ $t('글이 삭제되었습니다.') }}
            </span>
            <router-link v-else :to="`/boards/${board.url_namespace}/posts/${post.id}`">
              <span class="font-weight-bold">{{ post.title | truncate(30) }}</span>&nbsp;
              <span class="text-muted" v-if="post.count_comments > 0">
                [{{ post.count_comments }}]
              </span>
            </router-link>
          </td>
          <td>
            <span v-if="post.user.public_id !== null">{{ post.user.nickname }}</span>
            <span v-else>{{ post.anon_author }}</span>
          </td>
          <td>{{ moment.utc(post.created_at).local().format('YYYY.MM.DD') }}</td>
          <td>{{ post.view_count | cntlimited(5) }}</td>
          <td>{{ post.count_likes | cntlimited(4) }}</td>
        </tr>
      </tbody>
    </table>

    <!-- 게시물 목록 (모바일)-->
    <ol class="board-posts-mobile d-md-none" v-if="userPosts">
      <li v-for="post in noticePosts" :key="`mnp-${post.id}`" class="post-notice px-3">
        <div>
          <span class="font-weight-bold text-primary mr-2">{{ $t('공지') }}</span>
          <router-link :to="`/boards/${board.url_namespace}/posts/${post.id}`">
            <span class="font-weight-bold">{{ post.title | truncate(30) }}</span>&nbsp;
          </router-link>
        </div>
        <div class="pt-1" style="font-size:10pt;">
          <span v-if="post.user.public_id !== null" class="mr-3">{{ post.user.nickname }}</span>
          <span v-else class="mr-3">{{ post.anon_author }}</span>
          <span class="mr-3">{{ moment.utc(post.created_at).local().format('YYYY.MM.DD') }}</span>
          <span class="mr-3">{{ $t('조회') }} {{ post.view_count | cntlimited(5) }}</span>
          <span>{{ $t('추천') }} {{ post.count_likes | cntlimited(4) }}</span>
        </div>
      </li>
      <li v-for="post in userPosts.data" :key="`mup-${post.id}`" class="px-3">
        <div>
          <span class="text-primary mr-2">
            {{ $t('POST_LABELS.' + post.post_label.name) }}
          </span>
          <router-link :to="`/boards/${board.url_namespace}/posts/${post.id}`">
            <span>{{ post.title | truncate(30) }}</span>&nbsp;
          </router-link>
        </div>
        <div class="pt-1" style="font-size:10pt;">
          <span v-if="post.user.public_id !== null" class="mr-3">{{ post.user.nickname }}</span>
          <span v-else class="mr-3">{{ post.anon_author }}</span>
          <span class="mr-3">{{ moment.utc(post.created_at).local().format('YYYY.MM.DD') }}</span>
          <span class="mr-3">{{ $t('조회') }} {{ post.view_count | cntlimited(5) }}</span>
          <span>{{ $t('추천') }} {{ post.count_likes | cntlimited(4) }}</span>
        </div>
      </li>
    </ol>

    <!-- 검색 바와 페이지네이션-->
    <div v-if="userPosts" class="px-2 px-md-0">
      <SearchForm class="mt-md-4 mb-md-4 mt-3 mb-2" />
      <router-link class="btn btn-primary w-100 mb-4 d-md-none"
                   :to="`/boards/${board.url_namespace}/write`">
        {{ $t('새 글쓰기') }}
      </router-link>
      <Pagination :currentPage="userPosts.current_page" :key="pageKey"
                  :totalPages="userPosts.total_pages"
                  @onClickPage="onClickPage" />
    </div>
  </div>

</template>

<style scoped>
  table {
    font-size: 11pt;
    border-bottom: 1px solid black;
  }
  table thead tr th {
    border-top: 1px solid black!important;
  }
  .post-notice {
    background-color: #e4f2ff;
  }
  tr.firstPost td {
    border-top: 1px solid black!important;
  }
  ol#navBoard a, ol#navPost a {
    font-weight: bold;
    color: #2c3e50;
    cursor: pointer;
  }
  #boardPosts {
    width:100%;
    overflow-y:scroll;
  }
  #boardPosts #boardLabelNavigator {
    display:table;
  }
  ol#navPost {
    margin: 0;
    width: auto;
    white-space:nowrap;
    margin-block-start: 0!important;
    margin-block-end: 0!important;
    padding-inline-start: 0!important;
  }

  ol#navPost li {
    display: inline-block;
    list-style-type:none;
  }
</style>

<script>
// @ is an alias to /src
import axios from 'axios';
import SearchForm from '@/components/Board/SearchForm.vue';
import Pagination from '@/components/common/Pagination.vue';

export default {
  name: 'BoardPosts',
  props: {
    board: Object,
  },
  components: {
    SearchForm,
    Pagination,
  },
  data() {
    return {
      noticePosts: [],
      userPosts: null,
      postLabel: null,
      browsingPage: 1,
      pageKey: 0,
    };
  },
  // computed: {
  //   currentPage() {
  //     return this.userPosts.currentPage;
  //   },
  //   totalPages() {
  //     return this.userPosts.totalPages;
  //   },
  // },
  methods: {
    getNoticePosts(boardId, params) {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/boards/${boardId}/posts`, {
        params,
      }).then((res) => {
        this.noticePosts = res.data.data;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    getUserPosts(boardId, browsingPage, labelKey = null) {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/boards/${boardId}/posts`, {
        params: {
          label: labelKey,
          page: browsingPage,
        },
      }).then((res) => {
        this.userPosts = res.data;
        this.pageKey += 1;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    onClickLabel(labelKey) {
      this.postLabel = labelKey;
    },
    onClickPage(page) {
      this.browsingPage = page;
      this.getUserPosts(this.board.id, this.browsingPage, this.postLabel);
    },
    searchPosts(query) {
      this.browsingPage = 1;
      this.postLabel = null;
      axios.get(`${process.env.VUE_APP_ENDPOINT}/boards/${this.board.id}/posts`, {
        params: {
          label: this.postLabel,
          page: this.browsingPage,
          q: `${query.key}=${query.value}`,
        },
      }).then((res) => {
        this.userPosts = res.data;
        this.pageKey += 1;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
  },
  mounted() {
    this.getNoticePosts(this.board.id, { is_notice: 1, limit: 4 });
    this.getUserPosts(this.board.id, this.browsingPage);
  },
  watch: {
    board(to) {
      if (to) {
        this.browsingPage = 1;
        this.getNoticePosts(to.id, { is_notice: 1, limit: 4 });
        this.getUserPosts(to.id, this.browsingPage);
      }
    },
    postLabel(to) {
      this.browsingPage = 1;
      this.getUserPosts(this.board.id, this.browsingPage, to);
    },
  },
};
</script>
