<template>
  <div id="boardNavigator" class="bg-primary w-100">
    <div id="boardNavigatorWrapper" v-if="browsingBoardGroup">
      <ol id="navBoard">
        <li>
          <router-link class="nav-link" to="/">
            {{ $t('ISO_CODES.' + browsingBoardGroup) }} {{ $t('홈') }}
          </router-link>
        </li>
        <li v-for="board in browsingBoardList" :key="board.id">
          <router-link v-if="board.url_namespace" class="nav-link nav-link-boards"
                       :to="`/boards/${board.url_namespace}`">
            {{ $t('BOARDS.' + board.name) }}
          </router-link>
        </li>
      </ol>
    </div>
  </div>
</template>

<style scoped>
  #boardNavigator {
    width:100%;
    overflow-y:scroll;
  }
  #boardNavigator #boardNavigatorWrapper {
    margin:0 auto;
    display:table;
  }

  ol#navBoard {
    padding: 10px;
    margin: 0;
    width: auto;
    white-space:nowrap;
  }

  ol#navBoard li {
    display: inline-block;
    list-style-type:none;
  }

  #navBoard a{
    font-weight: bold;
    color: #97cbff;
  }

  #navBoard a.router-link-exact-active {
    color: #ffffff;
  }

  #navBoard a.router-link-active.nav-link-boards {
    color: #ffffff;
  }
</style>

<script>
// @ is an alias to /src
import { mapGetters } from 'vuex';

export default {
  name: 'BoardNavigator',
  props: {
  },
  components: {
  },
  data() {
    return {
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters(['browsingBoardGroup', 'browsingBoardList']),
  },
  watch: {
  },
};
</script>
