<template>
  <div>
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(searchPosts)">
        <div class="form-row">
          <div class="col-4 col-sm-2">
            <select class="form-control"
                    v-model="query.key">
              <option value="title">{{ $t('제목') }}</option>
              <option value="content">{{ $t('내용') }}</option>
              <option value="anon_author">{{ $t('작성자') }}</option>
            </select>
          </div>
          <div class="col-8 col-sm-10">
            <ValidationProvider class="input-group"
                                rules="required|min:2|max:120">
              <input type="text" class="form-control mobile-cancel-input-group"
                     v-model="query.value"
                     @keyup.enter="handleSubmit(searchPosts)"/>
              <div class="input-group-append d-none d-md-block">
                <button class="btn btn-primary" type="submit">
                  {{ $t('검색하기') }}
                </button>
              </div>
              <img class="mobile-search-icon d-md-none" src="@/assets/icons/ic-search.svg"
                   @click="handleSubmit(searchPosts)"/>
            </ValidationProvider>
          </div>
        </div>
      </form>
    </ValidationObserver>
  </div>

</template>

<style scoped>
@media (max-width: 768px) {
  .mobile-cancel-input-group {
    width: 100%;
    padding-right: 45px;
    border-radius: .25rem!important;
  }
  .mobile-search-icon {
    position: absolute;
    right: 0;
    padding: 10px;
    z-index: 1000;
  }
}
</style>

<script>
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';

export default {
  name: 'SearchForm',
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  props: {
  },
  data() {
    return {
      query: {
        key: 'title',
        value: '',
      },
    };
  },
  methods: {
    searchPosts() {
      this.$parent.searchPosts(this.query);
    },
  },
};
</script>
