<template>
  <div class="p-3">
    <h5>관리자 등록</h5>
    <!-- 휴대폰번호 입력 -->
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(searchUsers)">
        <div class="row no-gutters">
          <div class="col-12">
            <div class="form-inline">
              <ValidationProvider class="input-group" :rules="{ regex: /^[0-9- ]+$/, required: true,
              min: 1, max: 100 }">
                <input type="text" class="form-control"
                       :placeholder="$t('휴대폰번호')"
                       @keyup.enter="handleSubmit(searchUsers)"
                       v-model="query.value" maxlength="100" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    검색
                  </button>
                </div>
              </ValidationProvider>
            </div>
          </div>
        </div>
      </form>
    </ValidationObserver>

    <div v-if="users" class="mt-3">
      <!-- 회원 목록 -->
      <table class="table text-center d-mobile-none" style="" v-if="users">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">전화번호</th>
            <th scope="col">관심국가</th>
            <th scope="col">닉네임</th>
            <th scope="col">가입일</th>
            <th scope="col">최근 접속일</th>
            <th scope="col">액션</th>
          </tr>
        </thead>
        <tbody>
          <tr class="post-notice" v-for="user in users.data" :key="`ua-${user.id}`">
            <td style="padding: .45rem;">
              <router-link v-if="user.id" :to="`/admin/users/${user.id}`"
                           class="btn btn-link btn-sm">
                {{ user.id }}
              </router-link>
            </td>
            <td class="text-left">
              {{ user.phone_number }}
            </td>
            <td>
              {{ user.preferred_country }}
            </td>
            <td>
              {{ user.nickname }}
            </td>
            <td>
              <span v-if="user.registered_at">
                {{ moment.utc(user.registered_at).local().format('YYYY.MM.DD') }}
              </span>
              <span v-else>-</span>
            </td>
            <td>
              <span v-if="user.last_login_at">
                {{ moment.utc(user.last_login_at).local().format('YYYY.MM.DD') }}
              </span>
              <span v-else>-</span>
            </td>
            <td>
              <span v-if="user.account_status > 0">
                <button v-if="!user.is_superuser"
                        class="btn btn-sm btn-success mr-1"
                        @click="onClickHandle('register', user.public_id)">
                  관리자 등록
                </button>
                <button v-if="user.is_superuser"
                        class="btn btn-sm btn-danger"
                        @click="onClickHandle('cancel', user.public_id)">
                  관리자 취소
                </button>
              </span>
              <span v-else-if="user.account_status === 0">탈퇴 요청 중</span>
              <span v-else-if="user.account_status === -1">탈퇴 됨</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="users" class="mt-3">
      <Pagination :currentPage="users.current_page" :key="pageKey"
                  :totalPages="users.total_pages"
                  @onClickPage="onClickPage" />
    </div>
  </div>
</template>

<style scoped>

</style>

<script>
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import axios from 'axios';
import Pagination from '@/components/common/Pagination.vue';

export default {
  name: 'AdminSuperusers',
  components: {
    ValidationObserver,
    ValidationProvider,
    Pagination,
  },
  data() {
    return {
      query: {
        key: 'general',
        value: '',
      },
      pageSize: 10,
      users: null,
      browsingPage: 1,
      pageKey: 0,
    };
  },
  methods: {
    searchUsers(page = 1) {
      this.browsingPage = page;
      axios.get(`${process.env.VUE_APP_ENDPOINT}/users`, {
        params: {
          page: this.browsingPage,
          page_size: this.pageSize,
          q: `${this.query.key}=${this.query.value}`,
        },
      }).then((res) => {
        this.users = res.data;
        this.pageKey += 1;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    onClickPage(page) {
      this.browsingPage = page;
      this.searchUsers(page);
    },
    onClickHandle(action, publicId) {
      let msg;
      let isSuperuser;
      if (action === 'register') {
        msg = '관리자로 등록하시겠습니까?';
        isSuperuser = 1;
      } else if (action === 'cancel') {
        msg = '관리자를 취소하시겠습니까?';
        isSuperuser = 0;
      }
      if (!window.confirm(msg)) {
        return;
      }
      axios.patch(`${process.env.VUE_APP_ENDPOINT}/users/${publicId}`, {
        is_superuser: isSuperuser,
      }).then((res) => {
        if (res.status === 200) {
          this.searchUsers(this.browsingPage);
        }
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
  },

};
</script>
