<template>
  <div class="p-3">
    <h5>회원 관리</h5>
    <div>
      <li class="dropdown mr-3" style="top:-2px;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
           data-toggle="dropdown">
          {{ pageSize }} 행
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" @click="onClickPageSize(10)">10행</a>
          <a class="dropdown-item" @click="onClickPageSize(20)">20행</a>
          <a class="dropdown-item" @click="onClickPageSize(50)">50행</a>
          <a class="dropdown-item" @click="onClickPageSize(100)">100행</a>
        </div>
      </li>
      <ValidationObserver v-slot="{ handleSubmit }" style="display:inline-block;">
        <form @submit.prevent="handleSubmit(searchUsers)" class="form-inline">
          <ValidationProvider class="input-group" :rules="{ required: false, min: 0, max: 100 }">
            <input type="text" class="form-control"
                   placeholder="검색어 입력"
                   @keyup.enter="handleSubmit(searchUsers)"
                   v-model="query.value" maxlength="100" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                {{ $t('검색하기') }}
              </button>
            </div>
          </ValidationProvider>
        </form>
      </ValidationObserver>
    </div>

    <div v-if="users" class="mt-3">
      <!-- 회원 목록 -->
      <table class="table text-center d-mobile-none" style="" v-if="users">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">전화번호</th>
            <th scope="col">관심국가</th>
            <th scope="col">작성 글 수</th>
            <th scope="col">작성 댓글 수</th>
            <th scope="col">가입일</th>
            <th scope="col">최근 접속일</th>
          </tr>
        </thead>
        <tbody>
          <tr class="post-notice" v-for="user in users.data" :key="`ua-${user.id}`">
            <td style="padding: .45rem;">
              <router-link v-if="user.id" :to="`/admin/users/${user.id}`"
                           class="btn btn-link btn-sm">
                {{ user.id }}
              </router-link>
            </td>
            <td class="text-left">
              {{ user.phone_number }}
            </td>
            <td>
              {{ user.preferred_country }}
            </td>
            <td>
              {{ user.count_posts.toLocaleString() }}
            </td>
            <td>
              {{ user.count_comments.toLocaleString() }}
            </td>
            <td>
              <span v-if="user.registered_at">
                {{ moment.utc(user.registered_at).local().format('YYYY.MM.DD') }}
              </span>
              <span v-else>-</span>
            </td>
            <td>
              <span v-if="user.last_login_at">
                {{ moment.utc(user.last_login_at).local().format('YYYY.MM.DD') }}
              </span>
              <span v-else>-</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="users" class="mt-3">
      <Pagination :currentPage="users.current_page" :key="pageKey"
                  :totalPages="users.total_pages"
                  @onClickPage="onClickPage" />
    </div>
  </div>
</template>

<style scoped>
  li {
    display: inline-block;
  }
  table {
    font-size: 11pt;
    border-bottom: 1px solid black;
  }
  table thead tr th {
    border-top: 1px solid black!important;
  }
  .dropdown-menu a {
    cursor: pointer;
  }
</style>

<script>
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import axios from 'axios';
import Pagination from '@/components/common/Pagination.vue';

export default {
  name: 'AdminUsers',
  components: {
    ValidationObserver,
    ValidationProvider,
    Pagination,
  },
  data() {
    return {
      query: {
        key: 'general',
        value: '',
      },
      pageSize: 10,
      users: null,
      browsingPage: 1,
      pageKey: 0,
    };
  },
  methods: {
    onClickPage(page) {
      this.browsingPage = page;
      this.getUsers();
    },
    onClickPageSize(pageSize) {
      this.pageSize = pageSize;
      this.getUsers();
    },
    getUsers() {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/users`, {
        params: {
          page: this.browsingPage,
          page_size: this.pageSize,
        },
      }).then((res) => {
        this.users = res.data;
        this.pageKey += 1;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    searchUsers() {
      this.browsingPage = 1;
      axios.get(`${process.env.VUE_APP_ENDPOINT}/users`, {
        params: {
          page: this.browsingPage,
          page_size: this.pageSize,
          q: `${this.query.key}=${this.query.value}`,
        },
      }).then((res) => {
        this.users = res.data;
        this.pageKey += 1;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
  },
  mounted() {
    this.getUsers();
  },

};
</script>
