<template>
  <div class="p-3">
    <h5>탈퇴 관리</h5>
    <div>
      <li class="dropdown mr-3" style="top:-2px;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
           data-toggle="dropdown">
          {{ pageSize }} 행
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" @click="onClickPageSize(10)">10행</a>
          <a class="dropdown-item" @click="onClickPageSize(20)">20행</a>
          <a class="dropdown-item" @click="onClickPageSize(50)">50행</a>
          <a class="dropdown-item" @click="onClickPageSize(100)">100행</a>
        </div>
      </li>
      <ValidationObserver v-slot="{ handleSubmit }" style="display:inline-block;">
        <form @submit.prevent="handleSubmit(searchSecedes)" class="form-inline">
          <ValidationProvider class="input-group" :rules="{ required: false, min: 0, max: 100 }">
            <input type="text" class="form-control"
                   placeholder="검색어 입력"
                   @keyup.enter="handleSubmit(searchSecedes)"
                   v-model="query.value" maxlength="100"/>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                {{ $t('검색하기') }}
              </button>
            </div>
          </ValidationProvider>
        </form>
      </ValidationObserver>
    </div>

    <div v-if="secedeLogs" class="mt-3">
      <!-- 탈퇴 요청 로그 목록 -->
      <table class="table text-center d-mobile-none" style="" v-if="secedeLogs">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">신청일</th>
            <th scope="col">탈퇴사유</th>
            <th scope="col">액션</th>
            <th scope="col">처리결과</th>
            <th scope="col">처리일</th>
            <th scope="col">관리자</th>
          </tr>
        </thead>
        <tbody>
          <tr class="post-notice" v-for="log in secedeLogs.data" :key="`sl-${log.id}`">
            <td scope="row">{{ log.id }}</td>
            <td style="padding: .45rem;">
              <router-link v-if="log.user_id" :to="`/admin/users/${log.user_id}`"
                           class="btn btn-link btn-sm">
                {{ log.user_id }}
              </router-link>
            </td>
            <td class="text-left">
              {{ moment.utc(log.created_at).local().format('YYYY.MM.DD') }}
            </td>
            <td>
              {{ log.reason }}
            </td>
            <td style="padding: .45rem;">
              <span v-if="log.secede_status === 0">
                <button class="btn btn-sm btn-success mr-1"
                        @click="onClickHandle('approve', log.id)">
                  승인
                </button>
                <button class="btn btn-sm btn-danger"
                        @click="onClickHandle('reject', log.id)">
                  거절
                </button>
              </span>
              <span v-else>-</span>
            </td>
            <td>
              <span v-if="log.secede_status === -1">거절</span>
              <span v-else-if="log.secede_status === 0">미처리</span>
              <span v-else-if="log.secede_status === 1">승인</span>
            </td>
            <td>{{ moment.utc(log.handled_at).local().format('YYYY.MM.DD') }}</td>
            <td>
              <span v-if="log.manager">{{ log.manager }}</span>
              <span v-else>-</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-if="secedeLogs" class="mt-3">
      <Pagination :currentPage="secedeLogs.current_page" :key="pageKey"
                  :totalPages="secedeLogs.total_pages"
                  @onClickPage="onClickPage" />
    </div>
  </div>
</template>

<style scoped>
  li {
    display: inline-block;
  }
  table {
    font-size: 11pt;
    border-bottom: 1px solid black;
  }
  table thead tr th {
    border-top: 1px solid black!important;
  }
  .dropdown-menu a {
    cursor: pointer;
  }
</style>

<script>
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import axios from 'axios';
import Pagination from '@/components/common/Pagination.vue';

export default {
  name: 'AdminSecedes',
  components: {
    ValidationObserver,
    ValidationProvider,
    Pagination,
  },
  data() {
    return {
      query: {
        key: 'general',
        value: '',
      },
      pageSize: 10,
      secedeLogs: null,
      browsingPage: 1,
      pageKey: 0,
    };
  },
  methods: {
    onClickPage(page) {
      this.browsingPage = page;
      this.getSecedeLogs();
    },
    onClickPageSize(pageSize) {
      this.pageSize = pageSize;
      this.getSecedeLogs();
    },
    getSecedeLogs() {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/users/secede-application`, {
        params: {
          page: this.browsingPage,
          page_size: this.pageSize,
        },
      }).then((res) => {
        this.secedeLogs = res.data;
        this.pageKey += 1;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    searchSecedes() {
      this.browsingPage = 1;
      axios.get(`${process.env.VUE_APP_ENDPOINT}/users/secede-application`, {
        params: {
          page: this.browsingPage,
          page_size: this.pageSize,
          q: `${this.query.key}=${this.query.value}`,
        },
      }).then((res) => {
        this.secedeLogs = res.data;
        this.pageKey += 1;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    onClickHandle(action, id) {
      let msg;
      let secedeStatus;
      if (action === 'approve') {
        msg = '회원탈퇴를 승인하시겠습니까?';
        secedeStatus = 1;
      } else if (action === 'reject') {
        msg = '회원탈퇴를 거절하시겠습니까?';
        secedeStatus = -1;
      }
      if (!window.confirm(msg)) {
        return;
      }
      axios.patch(`${process.env.VUE_APP_ENDPOINT}/users/secede-application/${id}`, {
        secede_status: secedeStatus,
      }).then((res) => {
        if (res.status === 200) {
          this.getSecedeLogs();
        }
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
  },
  mounted() {
    this.getSecedeLogs();
  },

};
</script>
