<template>
  <div>
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(writeComment)" autocomplete="off">
        <div class="row no-gutters">
          <div class="col-md-3 col-lg-2" v-if="!$store.getters.isAuthenticated">
            <div class="mb-2">
              <ValidationProvider rules="required|alpha_num|min:2|max:16" v-slot="{ errors }">
                <input class="form-control w-100" maxlength="16"
                       type="text"
                       :placeholder="$t('닉네임 (숫자+영문)')"
                       v-model="commentModel.anon_author" />
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
            <div class="mb-2">
              <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                <input class="form-control w-100" maxlength="16"
                       type="password"
                       :placeholder="$t('비밀번호 (숫자+영문)')"
                       v-model="commentModel.anon_password" />
                  <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
            </div>
          </div>
          <div :class="[$store.getters.isAuthenticated ? 'col-12' : 'col-md-9 col-lg-10', '']">
            <div style="display: inline-block; position:relative;" class="w-100 px-0 pl-md-2">
              <ValidationProvider rules="required|min:2|max:2000" v-slot="{ errors }">
                <textarea class="form-control" maxlength="2000"
                          style="resize: none; display: block; height: 84px;"
                          :placeholder="$t('댓글 내용을 입력하세요')"
                          v-model="commentModel.content"></textarea>
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
              <button style="position:absolute; bottom:2px; right:2px;"
                      class="btn float-right btn-link"
                      type="submit">
                {{ $t('완료') }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </ValidationObserver>
  </div>
</template>

<style scoped>
</style>

<script>
// @ is an alias to /src
import axios from 'axios';
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';

export default {
  name: 'CommentWrite',
  props: {
    board: Object,
    post: Object,
  },
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      comments: [],
      commentModel: {
        // anon_author: '',
        // anon_password: '',
        content: '',
      },
    };
  },
  methods: {
    writeComment() {
      axios.post(`${process.env.VUE_APP_ENDPOINT}/posts/${this.post.id}/comments`,
        this.commentModel).then((res) => {
        if (res.status === 201) {
          // TODO: Improve
          this.$router.go();
        }
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
  },
  created() {
  },
};
</script>
