<template>
  <div style="font-size:11pt;">
    <transition-group name="list" tag="p">
      <div class="mb-1" style="border-bottom: 1px solid #ededed;"
           v-for="(comment, index) in comments" :key="comment.id">
        <div v-if="isDeleted[comment.id] == true"
             class="alert alert-danger text-center mt-3" role="alert">
          {{ $t('댓글이 삭제되었습니다.') }}
        </div>
        <div v-else>
          <div class="flex py-2">
            <span v-if="comment.user && comment.user.public_id !== null" class="font-weight-bold">
              {{ comment.user.nickname }}
            </span>
            <span v-else class="font-weight-bold">
              <span v-if="comment.anon_author === ''">(unknown)</span>
              <span v-else>{{ comment.anon_author }}</span>
            </span>
            <span class="float-right text-muted">
              <small>
                {{ moment.utc(comment.created_at).local().format('YYYY.MM.DD HH:mm:ss') }}
              </small>
            </span>
          </div>
          <div v-show="state === 'default' || state === 'delete'" class="pt-1 break-text">
            <p class="m-0">{{ comment.content }}</p>
          </div>
          <transition name="update-btn-fade">
            <div v-show="state === 'editing' && curCommentId === comment.id">
              <textarea :value="getCurValue(comment)"
                        v-on:input="updateInput($event, comment.id)"
                        class="form-control"
                        style="resize: none; display: block; height: 84px;
                        margin-bottom: 5px;" maxlength="2000"></textarea>
            </div>
          </transition>
          <div v-if="!isAuthenticated">
            <div class="pb-2 text-right float-right">
              <transition name="update-btn-fade">
                <span class="form-inline" v-if="pwdInputSeen && curCommentId===comment.id">
                  <input type="password" class="form-control mb-2" style="padding-right:70px;"
                         v-model="modifyPasswords[comment.id]"
                         :placeholder="$t('댓글 비밀번호 입력')" >
                  <button class="btn mb-2" style="margin-left:-55px;"
                          @click="changeUpdateMode(comment.id)">{{ $t('완료') }}</button>
                </span>
              </transition>
              <span class="form-inline" v-if="delPwdInputSeen && curCommentId===comment.id">
                <input type="password" class="form-control mb-2" style="padding-right:70px;"
                       v-model="deletePasswords[comment.id]"
                       :placeholder="$t('댓글 비밀번호 입력')" >
                <button class="btn mb-2" style="margin-left:-78px;"
                        @click="onClickDelete(comment.id,
                        deletePasswords[comment.id], index)">{{ $t('댓글삭제') }}</button>
              </span>
              <button v-if="updateBtnSeen && comment.anon_author !== null"
                      @click="onPasswordInput(comment.id)"
                      class="btn mb-2 upbtn" >{{ $t('수정') }}</button>
              <button v-if="updateConfirmBtnSeen && curCommentId===comment.id"
                      @click="updateConfirm(comment.id)"
                      class="btn mb-2 upbtn">
                {{ $t('댓글수정') }}
              </button>
              <button v-if="deleteBtnSeen && comment.anon_author !== null"
                      @click="onPasswordforDelete(comment.id)"
                      class="btn mb-2 delbtn">{{ $t('삭제') }}</button>
            </div>
            <div class="pb-2 text-right">
              <button class="btn mb-2" style="visibility: hidden;">dummy</button>
            </div>
          </div>
          <div v-else-if="userInfo && isAuthenticated && userInfo.public_id !== null">
            <div class="pb-2 text-right">
              <transition name="update-btn-fade">
                <button v-if="updateBtnSeen &&
                  (userInfo.public_id === comment.user.public_id || userInfo.is_superuser)"
                        key="updateBtnSeen && userInfo.public_id === comment.user.public_id"
                        @click="changeUpdateMode(comment.id)"
                        class="mb-2 btn upbtn"
                        >{{ $t('수정') }}</button>
                <button v-if="updateConfirmBtnSeen && curCommentId===comment.id"
                        key="updateConfirmBtnSeen && curCommentId===comment.id"
                        @click="updateConfirm(comment.id)"
                        class="btn mb-2 upbtn"
                        >{{ $t('댓글수정') }}</button>
              </transition>
              <button v-if="deleteBtnSeen &&
                (userInfo.public_id === comment.user.public_id || userInfo.is_superuser)"
                      @click="onClickDelete(comment.id, '', index)"
                      class="btn mb-2 delbtn">{{ $t('삭제') }}</button>
            </div>
          </div>
        </div>
      </div>
    </transition-group>
  </div>

</template>

<style scoped>
.list-enter-active, .list-leave-active {
  transition: opacity 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.update-btn-fade-enter-active, .update-btn-fade-leave-active {
  transition: opacity 1s;
}
.update-btn-fade-enter, .update-btn-fade-leave-active {
  opacity: 0;
}
.break-text p {
  word-wrap: break-word;
}
.upbtn:hover, .upbtn:focus, .upbtn:active,
.upbtn.active, .open>.dropdown-toggle.upbtn {
  color: #4786ff;
  border-radius: 5px;
  background-color: #c0dfff;
}
.delbtn:hover, .delbtn:focus, .delbtn:active,
.delbtn.active, .open>.dropdown-toggle.delbtn {
  color: #ff5353;
  border-radius: 5px;
  background-color: #ffdede;
}
</style>
<script>
// @ is an alias to /src
import { mapGetters } from 'vuex';
import axios from 'axios';

export default {
  name: 'CommentView',
  props: {
    post: Object,
  },
  components: {
  },
  data() {
    return {
      state: 'default',
      pwdInputSeen: false,
      delPwdInputSeen: false,
      updateBtnSeen: true,
      updateConfirmBtnSeen: false,
      deleteBtnSeen: true,
      disableDeleteBtn: false,
      comments: [],
      modifyContents: {},
      currentContents: {},
      modifyPasswords: {},
      deletePasswords: {},
      curCommentId: 0,
      isDeleted: {},
      on: false,
    };
  },
  methods: {
    initData() {
      this.state = 'default';
      this.pwdInputSeen = false;
      this.delPwdInputSeen = false;
      this.updateBtnSeen = true;
      this.updateConfirmBtnSeen = false;
      this.deleteBtnSeen = true;
      this.disableDeleteBtn = false;
    },
    getComments(postId) {
      axios.get(`${process.env.VUE_APP_ENDPOINT}/posts/${postId}/comments`, {
        params: {
        },
      }).then((res) => {
        this.comments = res.data.data;
      }).catch((error) => {
        alert('알 수 없는 에러');
        // eslint-disable-next-line
        console.error(error);
      });
    },
    onPasswordInput(commentId) {
      this.curCommentId = commentId;
      this.deleteBtnSeen = false;
      if (this.state === 'default') {
        this.pwdInputSeen = true;
        this.updateBtnSeen = false;
      }
    },
    onPasswordforDelete(commentId) {
      this.curCommentId = commentId;
      this.deleteBtnSeen = false;
      this.updateBtnSeen = false;
      this.state = 'delete';
      if (this.state === 'delete') {
        this.delPwdInputSeen = true;
      }
    },
    changeUpdateMode(commentId) {
      this.curCommentId = commentId;
      if (this.userInfo && this.userInfo.is_superuser) {
        this.deleteBtnSeen = false;
        this.updateBtnSeen = false;
        this.pwdInputSeen = false;
        this.updateConfirmBtnSeen = true;
        this.state = 'editing';
        return;
      }
      if (!this.isAuthenticated) {
        axios.post(`${process.env.VUE_APP_ENDPOINT}/comments/${commentId}/anon-password-check`,
          { password: this.modifyPasswords[commentId] }).then((res) => {
          if (res.status === 200) {
            this.deleteBtnSeen = false;
            this.updateBtnSeen = false;
            this.pwdInputSeen = false;
            this.updateConfirmBtnSeen = true;
            this.state = 'editing';
          }
        }).catch((error) => {
          if (error.response.status === 403) {
            alert('비밀번호가 올바르지 않습니다. 비밀번호를 확인 후 다시 시도하세요.');
          } else {
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
          }
        });
      }
    },
    updateConfirm(id) {
      this.onClickModify(id, this.modifyPasswords[id], this.modifyContents[id]);
    },
    getCurValue(cur) {
      this.modifyContents[cur.id] = cur.content;
      return cur.content;
    },
    updateInput(event, commentId) {
      this.modifyContents[commentId] = event.target.value;
    },
    removeFromList(index, commentId) {
      this.comments.splice(index, 0);
      this.isDeleted[commentId] = true;
    },
    onClickModify(commentId, password, content) {
      axios.put(`${process.env.VUE_APP_ENDPOINT}/comments/${commentId}`, { password, content }).then((res) => {
        if (res.status === 200) {
          alert('수정 완료');
          // this.$router.go();
          this.initData();
          this.getComments(this.post.id);
        }
      }).catch((error) => {
        if (error.response.status === 403) {
          alert('비밀번호가 올바르지 않습니다. 비밀번호를 확인 후 다시 시도하세요.');
        } else {
          alert('알 수 없는 에러');
          // eslint-disable-next-line
          console.error(error);
        }
      });
    },
    onClickDelete(commentId, password, index) {
      if (!window.confirm('댓글을 삭제하시겠습니까?')) {
        return;
      }
      axios.delete(`${process.env.VUE_APP_ENDPOINT}/comments/${commentId}`, { data: { password } })
        .then((res) => {
          if (res.status === 200) {
            this.removeFromList(index, commentId);
            this.initData();
            this.getComments(this.post.id);
          }
        }).catch((error) => {
          if (error.response.status === 403) {
            alert('비밀번호가 올바르지 않습니다. 비밀번호를 확인 후 다시 시도하세요.');
          } else {
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
          }
        });
    },
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'userInfo']),
  },
  mounted() {
    this.getComments(this.post.id);
  },
};
</script>
