<template>
  <div id="aboutNavigator" class="w-100">
    <div id="aboutNavigatorWrapper">
      <ol id="navAbout">
        <li class="nav-item">
          <router-link class="nav-link text-secondary" to="/about/terms">
            {{ $t('이용약관') }}
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link text-secondary" to="/about/privacy">
            {{ $t('개인정보처리방침') }}
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link text-secondary" to="/about/sms-receive">
            {{ $t('SMS수신동의') }}
          </router-link>
        </li>
      </ol>
    </div>
  </div>
</template>

<style scoped>
  #aboutNavigator {
    width:100%;
    overflow-y:scroll;
    border-bottom: 1px solid #d7dada;
  }
  #aboutNavigator #aboutNavigatorWrapper {
    display:table;
  }

  ol#navAbout {
    margin: 0;
    width: auto;
    white-space:nowrap;
    margin-block-start: 0!important;
    margin-block-end: 0!important;
    padding-inline-start: 0!important;
  }

  ol#navAbout li {
    display: inline-block;
    list-style-type:none;
  }

  #navAbout a{
    font-size: 18pt;
    font-weight: bold;
    /*color: black;*/
  }

  #navAbout a.router-link-exact-active {
    border-bottom: 1px solid black;
  }

</style>

<script>
// @ is an alias to /src
import { mapGetters } from 'vuex';

export default {
  name: 'BoardNavigator',
  props: {
  },
  components: {
  },
  data() {
    return {
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters(['browsingBoardGroup', 'browsingBoardList']),
  },
  watch: {
  },
};
</script>
