<!-- eslint-disable -->
<template>
  <div>
    <pre>
?(이하 '회사)는 개인정보보호법에 따라 이용 고객(이하 '회원')의 개인정보 및 권익을 보호하고 개인정보와 관련한 회원의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.



<h6>제1조 개인정보의 처리 목적</h6>
회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 목적이 변경될 시 회원에게 사전동의를 구할 것입니다.

회원가입 및 관리
회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별 및 인증, 회원자격 유지 및 관리, 서비스 부정이용 방지, 각종 고지 및 통지, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.
재화 또는 서비스 제공
서비스 제공, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증 등을 목적으로 개인정보를 처리합니다.
마케팅 및 광고 활용
신규 서비스 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.


<h6>제2조 개인정보의 처리 및 보유기간</h6>
회사는 다음의 개인정보 항목을 처리하고 있습니다.

개인정보 항목
(필수항목) 전화번호, 로그인 비밀번호
(서비스 이용 과정이나 사업처리 과정에서 자동으로 생성되는 정보) 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보
수집방법: 회원가입 시 회원이 직접 제공
보유근거: 회원의 동의
보유기간: 수집 및 이용에 대한 회원의 동의일로부터 위 '개인정보의 처리 목적'을 위하여 보유 및 이용되며, 회원등록 말소이후는 분쟁해결, 민원처리, 법령상 의무이행 및 회사의 리스크 관리업무만을 위해 5년간 보유 및 이용됩니다.
회사의 개인정보처리방침에도 불구하고 아래와 같은 관련법령에 의하여 보관하여야 하는 정보는 법령이 정한 기간 동안 보관됩니다.
전자상거래 등에서의 소비자보호에 관한 법률
- 표시/광고에 관한 기록(6개월)
- 계약 또는 청약철회 등에 관한 기록(5년)
- 소비자의 불만 또는 분쟁처리에 관한 기록(3년)


<h6>제3조 개인정보처리 위탁</h6>
① 회사는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다. 회원은 개인정보 위탁 및 제공에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 서비스 이용에 제한을 받을 수 있습니다.
<table class="table table-bordered">
  <thead>
    <tr>
      <th>제공받는 자</th>
      <th>제공 목적</th>
      <th>보유기간</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>슈어엠(주)</td>
      <td>SMS 발송 서비스</td>
      <td>회원탈퇴 시 또는 위탁계약 종료 시까지, 법령이 정한 시점</td>
    </tr>
    <tr>
      <td>인포뱅크(주)</td>
      <td>SMS 발송 서비스</td>
      <td>회원탈퇴 시 또는 위탁계약 종료 시까지, 법령이 정한 시점</td>
    </tr>
    <tr>
      <td>Twilio Inc.</td>
      <td>SMS 발송 서비스</td>
      <td>회원탈퇴 시 또는 위탁계약 종료 시까지, 법령이 정한 시점</td>
    </tr>
  </tbody>
</table>
② 회사는 회사가 개인정보를 위탁업체에 제공하는 경우 위탁받은 업체가 개인정보보호 관계법령을 위반하지 않도록 관리 및 감독하고 있습니다.
③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보처리방침을 통하여 공개하도록 하겠습니다.



<h6>제4조 정보주체의 권리, 의무 및 그 행사방법</h6>
이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.

① 정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보보호 관련 권리를 행사할 수 있습니다.

개인정보 열람 요구
오류 등이 있을 경우 정정요구
삭제요구
처리정지 요구
② 제1항에 따른 권리행사는 회사에 대해 개인정보보호법 시행규칙 별지 제8호 서식에 따라 행사하실 수 있으며 회사는 이에 대해 지체없이 조치하겠습니다.
③ 제1항에 따른 권리행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 할 수 있습니다. 이 경우 개인정보보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출해야 합니다.
④ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우 회사는 정정 또는 삭제를 완료할 때까지 해당 개인정보를 이용하거나 제공하지 않습니다.



<h6>제5조 개인정보의 파기</h6>
회사는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.

파기절차 : 이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우 이외의 다른 목적으로 이용되지 않습니다.
파기기한 : 이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.
파기방법 : 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.


<h6>제6조 개인정보의 안전성 확보 조치</h6>
회사는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/물리적 관리 및 조치를 하고 있습니다.

해킹 등에 대비한 기술적 대책
회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
개인정보의 암호화
비밀번호를 포함한 이용자의 개인정보는 암호화하여 저장 및 관리되고 있어 본인만이 알 수 있으며, 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
개인정보에 대한 접근 제한
개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.
문서보안을 위한 잠금장치 사용
개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.
비인가자에 대한 출입 통제
개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.


<h6>제7조 개인정보보호책임자</h6>
① 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보보호책임자를 지정하고 있습니다.
<table class="table table-bordered">
  <thead>
    <tr>
      <th>성명</th>
      <th>직책</th>
      <th>연락처</th>
      <th>이메일</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>도원우</td>
      <td>팀장</td>
      <td>02-1670-2624</td>
      <td>support@crossenf.com</td>
    </tr>
  </tbody>
</table>
② 정보주체는 회사의 서비스를 이용하면서 발생한 모든 개인정보보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보보호책임자에게 문의할 수 있습니다. 회사는 정보주체의 문의에 대해 지체없이 답변 및 처리할 것입니다.
③ 회원의 계정정보에 대한 보안유지책임은 해당 회원 자신에게 있습니다. 회사는 비밀번호에 대해 어떠한 방법으로도 회원에게 직접적으로 질문하는 경우는 없으므로 타인에게 비밀번호가 유출되지 않도록 각별히 주의하시기 바랍니다. 특히 공공장소의 인터넷망을 사용하는 경우에는 더욱 유의해야 합니다.
④ 회사가 가능한 기술적인 보완조치를 했음에도 불구하고, 첨단 기술을 이용한 해킹 등 네트워크 상의 위험에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손에 관해서는 책임이 없습니다.
⑤ 회원은 회사의 서비스를 이용하면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의할 수 있습니다. 회사는 정보주체의 문의에 대해 지체 없이 답변 및 처리할 것입니다.
⑥ 회사는 본 개인정보처리방침에도 불구하고 대한민국 법령에 근거하여 개인정보 제공 의무를 부담하는 경우, 법원의 명령에 따라 이를 제공할 수 있습니다.



<h6>제8조 개인정보 열람청구</h6>
아래의 기관은 회사와는 별개의 기관으로서, 회사의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.
<table class="table table-bordered ">
  <thead>
    <tr>
      <th>기관</th>
      <th>전화</th>
      <th>웹사이트</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>KISA 개인정보침해 신고센터</td>
      <td>118</td>
      <td>https://privacy.kisa.or.kr/</td>
    </tr>
    <tr>
      <td>개인정보분쟁조정위원회</td>
      <td>1833-6972</td>
      <td>https://www.kopico.go.kr/</td>
    </tr>
  </tbody>
</table>



<h6>제9조 개인정보처리방침 변경</h6>
본 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.



<h6>제10조 회사는 쿠키를 설치, 운영하고 있고 이용자는 이를 거부할 수 있습니다.</h6>
쿠키는 이용자에게 보다 빠르고 편리한 웹사이트 사용을 지원하고 맞춤형 서비스를 제공하기 위해 사용됩니다. 다만, 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수도 있습니다. 또한 쿠키 설치를 거부할 경우 웹 사용이 불편해지며 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.



<h6>부칙</h6>
(시행일) 본 개인정보처리방침은 2020년 8월 1일부터 적용됩니다.
    </pre>
  </div>

</template>

<style scoped>
  pre {
    white-space: pre-wrap;
  }
  h6 {
    font-weight: bold;
  }
  table.table-bordered{
    border:1px solid #000;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid #000;
    text-align: center;
  }
  table.table-bordered > tbody > tr > td{
    border:1px solid #000;
    text-align: center;
  }
</style>

<script>
// @ is an alias to /src

export default {
  name: 'Privacy',
  components: {
  },

};
</script>
