<!-- eslint-disable -->
<template>
  <div>
    <pre>
<h6>공지 문자메시지 수신 동의</h6>
이용목적: 크로스보드 서비스의 중요 공지사항 문자메시지 발송
수집항목: 회원 전화번호
보유기간: 크로스보드 서비스 회원탈퇴 후 5일까지
해당 항목에 동의하지 않으셔도 크로스보드를 이용하실 수 있습니다.



<h6>마케팅 문자메시지 수신 동의</h6>
이용목적: 각종 혜택정보 제공 및 마케팅을 위한 문자메시지 발송
수집항목: 회원 전화번호
보유기간: 크로스보드 서비스 회원탈퇴 후 5일까지
해당 항목에 동의하지 않으셔도 크로스보드를 이용하실 수 있습니다.
    </pre>
  </div>

</template>

<style scoped>
  pre {
    white-space: pre-wrap;
  }
  h6 {
    font-weight: bold;
  }
  table.table-bordered{
    border:1px solid #000;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid #000;
    text-align: center;
  }
  table.table-bordered > tbody > tr > td{
    border:1px solid #000;
    text-align: center;
  }
</style>

<script>
// @ is an alias to /src

export default {
  name: 'SMSReceive',
  components: {
  },

};
</script>
