<!-- eslint-disable -->
<template>
  <div>
    <pre>
<h6>제1조 목적</h6>
이 이용약관(이하 '약관')은 ?(이하 '회사')과 이용 고객(이하 '회원')간에 회사가 제공하는 전자게시판 '크로스보드' 서비스(이하 '서비스')의 이용에 관한 제반 사항과 기타 필요한 사항을 구체적으로 규정함을 목적으로 합니다.



<h6>제2조 회원의 정의</h6>
"회원"이란 회사가 제공하는 서비스에 접속하여 본 약관에 따라 회사의 이용절차에 동의하고 회사가 제공하는 서비스를 이용하는 이용자를 말합니다.



<h6>제3조 회원가입</h6>
① 회원이 되고자 하는 자는 회사가 정한 가입 양식에 따라 정보를 입력하고, "완료"등의 버튼을 누르는 방법으로 회원가입을 신청합니다.
② 회사는 제1항에 따라 회원가입을 신청한 자가 다음 각 호에 해당하지 않으면 신청한 자를 회원으로 등록합니다.

가입 양식 내용에 허위, 누락, 오기가 있는 경우
제6조 제3항에 따라 회원 자격에 대한 어떤 제재를 받은 경험이 있는 경우
기타 회원으로 등록하는 것이 서비스 운영 및 기술적으로 지장이 있다고 판단되는 경우
③ 회원가입 계약의 성립시기는 회사의 승인이 가입 신청자에게 도달한 시점으로 합니다.
④ 회원은 제1항의 가입 정보에 변경이 발생한 경우 즉시 변경사항을 정정해야 합니다.



<h6>제4조 서비스의 제공 및 변경</h6>
① 회사는 회원에게 아래와 같은 서비스를 제공합니다.

국가별 커뮤니티 게시판 서비스
기타 회사가 자체 개발하거나 다른 회사와의 협력계약 등을 통해 회원들에게 제공할 일체의 서비스
② 회사는 서비스의 내용 및 제공일자를 제7조 제2항에서 정한 방법으로 회원에게 통지하고 제1항에 정한 서비스를 변경하여 제공할 수 있습니다.



<h6>제5조 서비스의 중단</h6>
① 회사는 컴퓨터 등 정보통신설비 또는 서비스를 운영하기 위한 소프트웨어의 보수, 교체, 고장, 통신두절 등이 발생한 경우에는 서비스 제공을 일시적으로 중단할 수 있습니다.
② 회사는 새로운 서비스로의 교체, 기타 회사가 적절하다고 판단하는 사유에 의해 현재 제공되는 서비스를 완전히 중단할 수 있습니다.
③ 제1항 및 제2항에 의한 서비스 중단의 경우에 회사는 제7조 제2항에서 정한 방법으로 회원에게 통지합니다. 다만 회사가 통제할 수 없는 사유로 인한 서비스의 중단으로 사전 통지가 불가능한 경우는 통지하지 않습니다.



<h6>제6조 회원 탈퇴 및 자격 상실 등</h6>
① 회원은 회사에 언제든지 자신의 회원등록 말소를 요청할 수 있으며 회사는 이 요청을 받은 즉시 해당 회원의 회원등록 말소를 위한 절차를 밟습니다.
② 회원 탈퇴가 완료된 경우 회원은 본인이 작성한 게시물 및 댓글에 대한 수정 및 편집 권한을 모두 상실합니다.
③ 회원이 다음 각 호에 해당하는 경우 회사는 회원의 회원자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.

가입 신청 시 허위 내용을 등록한 경우
다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 경우
서비스를 관계법령과 본 약관이 금지하거나 사회통념에 반하는 목적으로 사용하는 경우
④ 회사가 회원의 회원자격을 상실시키기로 결정한 경우에는 회원등록을 말소합니다.



<h6>제7조 회원에 대한 통지</h6>
① 회사가 특정 회원에게 서비스에 대한 통지를 하는 경우 회원정보에 등록된 전화번호를 사용할 수 있습니다.
② 회사가 불특정다수 회원에게 서비스에 대한 통지를 하는 경우 7일 이상 게시판에 공지함으로 개별 통지를 갈음할 수 있습니다.



<h6>제8조 회원의 개인정보</h6>
회사는 서비스를 제공하기 위하여 관련 법령의 규정에 따라 회원으로부터 필요한 개인정보를 수집합니다. (개인정보 처리에 관한 내용은 '개인정보처리방침'에서 고지)



<h6>제9조 회사의 의무</h6>
① 회사는 관계법령과 본 약관이 금지하거나 사회통념에 반하는 행위를 하지 않으며 본 약관이 정하는 바에 따라 지속적이고 안정적인 서비스를 제공하기 위해 노력합니다.
② 회사는 회원이 안전하고 편리한 서비스를 사용할 수 있도록 시스템을 구축합니다.
③ 회사는 회원이 원하지 않는 영리적 목적의 메시지를 발송하지 않습니다.
④ 회사는 회원이 서비스를 이용함에 있어 회원에게 법률적인 증명이 가능한 고의 또는 중대한 과실을 입힐 경우 이로인한 손해를 배상할 책임이 있습니다.


<h6>제10조 회원의 계정 정보에 대한 의무</h6>
① 회사가 관계법령 또는 개인정보처리방침에 의해서 그 책임을 지는 경우를 제외하고 자신의 계정 정보에 대한 관리책임은 각 회원에게 있습니다.
② 회원은 자신의 계정 정보를 제3자에게 이용하게 해서는 안됩니다.
③ 회원은 자신의 계정 정보를 도난당하거나 제3자가 사용하고 있다고 인지한 경우 바로 회사에 통보하고 회사의 안내가 있다면 그에 따라야 합니다.



<h6>제11조 회원의 의무</h6>
① 회원은 다음 각 호의 행위를 해서는 안됩니다.

회원가입신청 또는 변경 시 허위내용을 등록하는 행위
회사 및 제3자의 지적재산권 침해 또는 권리와 활동을 방해하는 행위
다른 회원의 계정 정보를 도용하는 행위
관련 법령에 의해 전송 또는 게시가 금지된 정보를 전송 또는 게시하는 행위
회사의 직원 또는 서비스의 관리자를 가장하거나 타인의 명의를 도용하여 정보를 전송 또는 게시하는 행위
컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하는 자료를 전송 또는 게시하는 행위
다른 회원에 대한 개인정보를 동의 없이 수집, 저장, 공개하는 등 다른 회원에게 피해를 입히는 행위
불특정다수를 대상으로 광고 또는 음란물 등을 게시하는 행위
회사가 게시한 공지사항의 규정을 위반하는 행위
② 회원이 제1항을 위반한 경우 회사는 본 약관 제6조 제3, 4항에서 정한 방법으로 회원의 회원자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.



<h6>제12조 게시물의 삭제 또는 이용제한</h6>
① 회원의 게시물의 내용이 다음 각 호에 해당하는 경우 회사는 해당 게시물에 대한 접근을 임시차단할 수 있고, 7일 이내에 각 호의 동일 사례가 2회 이상 반복되는 경우 해당 게시물을 삭제하거나 해당 회원의 회원자격을 제한 및 정지, 상실시킬 수 있습니다.

다른 회원 또는 제3자를 비방하여 명예를 손상시키는 내용
다른 회원 또는 제3자의 저작권 등 권리를 침해하는 내용
다른 회원 또는 제3자의 개인정보, 사생활을 침해하는 내용
사회통념상 음란물, 욕설 등의 내용을 포함하고 있다고 판단되는 정보, 문장, 도형등을 유포하는 내용
범죄행위와 관련이 있다고 판단되는 내용
종교적, 정치적 분쟁을 야기할 수 있다고 판단되는 모든 내용
동일한 내용의 게시물을 중복하여 다수 게시하는 등 서비스의 목적에 어긋나는 경우
불필요하거나 승인되지 않은 광고 등을 게시하는 경우

② 회원의 게시물로 인한 법률상 이익 침해를 근거로 다른 회원 또는 제3자가 회원 또는 회사를 대상으로 하여 민형사상의 법적 조치를 취하는 동시에 법적 조치와 관련된 게시물의 삭제를 요청하는 경우, 회사는 법적 조치의 결과가 있을 때까지 관련 게시물에 대한 접근을 제한할 수 있습니다.



<h6>제13조 저작권의 귀속 및 게시물의 이용</h6>
① 회사가 작성한 저작물에 대한 저작권, 기타 지적재산권은 회사에 귀속합니다.
② 회원은 회사가 제공하는 서비스를 이용하며 얻은 정보를 회사의 사전승낙 없이 모든 방법의 영리목적으로 이용하거나 및 제3자에게 이용하게 해서는 안됩니다.
③ 회원이 작성한 게시물의 저작권은 게시한 회원에게 귀속됩니다. 단 회사는 서비스의 운영, 전시, 전송, 배포, 홍보 등의 목적으로 회원의 별도의 허락 없이 무상으로 저작권법에 규정된 합리적인 범위 내에서 다음 각 호와 같이 회원이 작성한 게시물을 사용할 수 있습니다.

서비스 내에서 회원이 작성한 게시물의 복제, 수정, 개조, 전시, 전송, 배포 및 저작물성을 해치지 않는 범위 내에서의 편집 저작물 작성
미디어 등 서비스 제휴 파트너에게 회원이 작성한 게시물 내용을 제공, 전시, 홍보하게 하는 것. 단 이 경우 회사는 별도의 동의 없이 회원의 개인정보를 제공하지 않습니다.
회사가 본 약관 제13조 제3항의 방법 이외의 것으로 회원이 작성한 게시물을 사용하고자 하는 경우, 사전의 회원의 동의를 얻어야 합니다.


<h6>제14조 약관의 개정</h6>
① 회사는 약관의 규제에 관한 법률, 전자거래기본법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
② 다만 개정 내용이 회원에게 불리한 경우에는 적용일자 30일 이전부터 적용일자 전일까지 공지합니다.
③ 회원은 변경된 약관에 대해 거부할 권리가 있습니다. 회원은 변경된 약관이 공지된 후 15일 이내에 거부의사를 표명할 수 있습니다. 회원이 거부하는 경우 회사는 당해 회원과의 계약을 해지할 수 있습니다. 만약 회원이 변경된 약관이 공지된 후 15일 이내에 거부의사를 표시하지 않는 경우에는 동의하는 것으로 간주합니다.



<h6>제15조 재판관할</h6>
회사와 회원간에 발생한 서비스 이용에 관한 분쟁에 대하여는 대한민국 법을 적용하며, 본 분쟁으로 인한 소는 민사소송법상의 관할을 가지는 대한민국의 법원에 제기합니다.



<h6>부칙</h6>
(시행일) 본 약관은 2020년 8월 1일부터 적용됩니다.
    </pre>
  </div>

</template>

<style scoped>
  pre {
    white-space: pre-wrap;
  }
  h6 {
    font-weight: bold;
  }
  table.table-bordered{
    border:1px solid #000;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid #000;
    text-align: center;
  }
  table.table-bordered > tbody > tr > td{
    border:1px solid #000;
    text-align: center;
  }
</style>

<script>
// @ is an alias to /src

export default {
  name: 'Terms',
  components: {
  },

};
</script>
