<template>
  <div>
    <Header/>
    <div class="container-lg pb-5">
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h4>{{ userInfo.nickname }}의 관리자 메뉴</h4>
        </div>
      </div>
      <div class="row mt-4 mb-5">
        <div class="col-sm-2">
          <ul class="nav flex-column border">
            <li class="nav-item">
              <router-link class="nav-link" to="/admin/users">
                회원 관리
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/admin/secedes">
                탈퇴 관리
              </router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/admin/superusers">
                관리자 등록
              </router-link>
            </li>
          </ul>
        </div>
        <div class="col-sm-10" style="min-height:500px;">
          <AdminUsers v-if="menu === 'users'" />
          <AdminSecedes v-if="menu === 'secedes'" />
          <AdminSuperusers v-if="menu === 'superusers'" />
        </div>
      </div>
    </div>
    <Footer/>
  </div>

</template>

<style scoped>
a.router-link-exact-active {
  color: #fff;
  background-color: #007bff;
}
</style>

<script>
// @ is an alias to /src
import { mapGetters } from 'vuex';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import AdminUsers from '@/components/Admin/AdminUsers.vue';
import AdminSecedes from '@/components/Admin/AdminSecedes.vue';
import AdminSuperusers from '@/components/Admin/AdminSuperusers.vue';

export default {
  name: 'Admin',
  props: {
    menu: String,
  },
  components: {
    Header,
    Footer,
    AdminUsers,
    AdminSecedes,
    AdminSuperusers,
  },
  data() {
    return {
    };
  },
  methods: {
    getSelectedBoard() {
    },
  },
  computed: {
    ...mapGetters(['userInfo']),
  },
  watch: {

  },
};
</script>
