<template>
  <div class="home">
    <Header/>
    <HomeEmpty v-show="!$store.getters.browsingBoardGroup"></HomeEmpty>
    <HomeCookie v-show="$store.getters.browsingBoardGroup"
                :action="action"></HomeCookie>
    <Footer/>
  </div>
</template>

<style>
  a {
    color: black;
  }
  .bg-home-empty {
    background: #ebeff7;
  }
</style>
<script>
// @ is an alias to /src
// import store from '@/store';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';
import HomeEmpty from '@/components/Home/HomeEmpty.vue';
import HomeCookie from '@/components/Home/HomeCookie.vue';

export default {
  name: 'Home',
  components: {
    Header,
    Footer,
    HomeEmpty,
    HomeCookie,
  },
  props: {
    action: String,
  },
  methods: {
  },
  data() {
    return {
    };
  },
  created() {
  },
};
</script>
