<template>
  <div>
    <Header/>
    <div class="accordion" id="accordionBoardGroup">
      <div class="card rounded-0 border-left-0 border-right-0">
        <div class="p-2" :class="{ 'bg-selected': browsingBoardGroup === 'VN'}"
             @click="onClickBoardGroup('VN')">
          <div class="btn btn-block text-left" data-toggle="collapse"
                  data-target="#collapseVN">
            <img src="@/assets/icons/ic-flag-vn.svg" class="rounded-circle" alt="...">
            <span class="ml-2">{{ $t('COUNTRIES.베트남') }}</span>
            <img class="float-right" src="@/assets/icons/ic-down.svg"/>
          </div>
        </div>

        <div id="collapseVN" :class="[`collapse`, {'show': browsingBoardGroup === 'VN'}]"
             data-parent="#accordionBoardGroup" style="background:#f6f7f9">
          <div class="p-2 border-top">
            <router-link to="/" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-vn.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('ISO_CODES.' + 'VN') }} {{ $t('홈') }}</span>
            </router-link>
          </div>
          <div class="p-2 border-top" v-for="board in browsingBoardList" :key="board.id">
            <router-link :to="`/boards/${board.url_namespace}`" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-vn.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('BOARDS.' + board.name) }}</span>
            </router-link>
          </div>
        </div>
      </div>
      <div class="card rounded-0 border-left-0 border-right-0">
        <div class="p-2" :class="{ 'bg-selected': browsingBoardGroup === 'PH'}"
             @click="onClickBoardGroup('PH')">
          <div class="btn btn-block text-left" data-toggle="collapse"
                  data-target="#collapsePH">
            <img src="@/assets/icons/ic-flag-ph.svg" class="rounded-circle" alt="...">
            <span class="ml-2">{{ $t('COUNTRIES.필리핀') }}</span>
            <img class="float-right" src="@/assets/icons/ic-down.svg"/>
          </div>
        </div>
        <div id="collapsePH" :class="[`collapse`, {'show': browsingBoardGroup === 'PH'}]"
             data-parent="#accordionBoardGroup" style="background:#f6f7f9">
          <div class="p-2 border-top">
            <router-link to="/" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-ph.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('ISO_CODES.' + 'PH') }} {{ $t('홈') }}</span>
            </router-link>
          </div>
          <div class="p-2 border-top" v-for="board in browsingBoardList" :key="board.id">
            <router-link :to="`/boards/${board.url_namespace}`" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-ph.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('BOARDS.' + board.name) }}</span>
            </router-link>
          </div>
        </div>
      </div>
      <div class="card rounded-0 border-left-0 border-right-0">
        <div class="p-2" :class="{ 'bg-selected': browsingBoardGroup === 'TH'}"
             @click="onClickBoardGroup('TH')">
          <div class="btn btn-block text-left" data-toggle="collapse"
                  data-target="#collapseTH">
            <img src="@/assets/icons/ic-flag-th.svg" class="rounded-circle" alt="...">
            <span class="ml-2">{{ $t('COUNTRIES.태국') }}</span>
            <img class="float-right" src="@/assets/icons/ic-down.svg"/>
          </div>
        </div>
        <div id="collapseTH" :class="[`collapse`, {'show': browsingBoardGroup === 'TH'}]"
             data-parent="#accordionBoardGroup" style="background:#f6f7f9">
          <div class="p-2 border-top">
            <router-link to="/" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-th.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('ISO_CODES.' + 'TH') }} {{ $t('홈') }}</span>
            </router-link>
          </div>
          <div class="p-2 border-top" v-for="board in browsingBoardList" :key="board.id">
            <router-link :to="`/boards/${board.url_namespace}`" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-th.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('BOARDS.' + board.name) }}</span>
            </router-link>
          </div>
        </div>
      </div>
      <div class="card rounded-0 border-left-0 border-right-0">
        <div class="p-2" :class="{ 'bg-selected': browsingBoardGroup === 'NP'}"
             @click="onClickBoardGroup('NP')">
          <div class="btn btn-block text-left" data-toggle="collapse"
                  data-target="#collapseNP">
            <img src="@/assets/icons/ic-flag-np.svg" class="rounded-circle" alt="...">
            <span class="ml-2">{{ $t('COUNTRIES.네팔') }}</span>
            <img class="float-right" src="@/assets/icons/ic-down.svg"/>
          </div>
        </div>
        <div id="collapseNP" :class="[`collapse`, {'show': browsingBoardGroup === 'NP'}]"
             data-parent="#accordionBoardGroup" style="background:#f6f7f9">
          <div class="p-2 border-top">
            <router-link to="/" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-np.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('ISO_CODES.' + 'NP') }} {{ $t('홈') }}</span>
            </router-link>
          </div>
          <div class="p-2 border-top" v-for="board in browsingBoardList" :key="board.id">
            <router-link :to="`/boards/${board.url_namespace}`" class="btn btn-block text-left">
              <img src="@/assets/icons/ic-flag-np.svg" class="rounded-circle invisible" alt="...">
              <span class="ml-2">{{ $t('BOARDS.' + board.name) }}</span>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <div style="height:60px;"></div>

    <!-- 회원가입, 로그인, 마이페이지, 로그아웃-->
    <div style="background:#eceef5;">
      <div class="p-2" v-if="!$store.getters.isAuthenticated">
        <router-link to="/register" class="btn btn-block text-left">
          {{ $t('회원가입') }}
        </router-link>
      </div>
      <div class="p-2" v-if="$store.getters.userInfo
        && $store.getters.userInfo.is_superuser && $store.getters.isOfficeIP">
        <router-link to="/admin" class="btn btn-block text-left">
          관
        </router-link>
      </div>
      <div class="p-2" v-if="$store.getters.isAuthenticated">
        <router-link to="/my-page" class="btn btn-block text-left">
          {{ $t('마이페이지') }}
        </router-link>
      </div>
      <div class="p-2" v-if="!$store.getters.isAuthenticated">
        <router-link to="/login" class="btn btn-block text-left">
          {{ $t('로그인') }}
        </router-link>
      </div>
      <div class="p-2" v-if="$store.getters.isAuthenticated">
        <button class="btn btn-block text-left" @click.prevent='onClickLogout'>
          {{ $t('로그아웃') }}
        </button>
      </div>
    </div>

    <!-- 언어선택 -->
    <div class="accordion" id="accordionLang">
      <div class="card rounded-0 border-left-0 border-right-0" style="background: #222631;">
        <div class="p-2">
          <div class="btn btn-block text-left" style="color:#cacdd7;"
               data-toggle="collapse"
               data-target="#collapseEN">
            <img src="@/assets/icons/ic-globe-light.svg" class="rounded-circle" alt="...">
            <span class="ml-2">{{ $t('LANG.' + lang) }}</span>
            <img class="float-right" src="@/assets/icons/ic-down-light.svg"/>
          </div>
        </div>

        <div id="collapseEN" class="collapse" style="color:#cacdd7;"
             data-parent="#accordionLang">
          <div class="p-2 border-top" style="border-color:#444854!important;"
               @click="onClickLanguage('en')">
            <a class="btn btn-block text-left">
              <img src="@/assets/icons/ic-globe.svg" class="rounded-circle invisible"/>
              <span class="ml-2">English</span>
            </a>
          </div>
          <div class="p-2 border-top" style="border-color:#444854!important;"
               @click="onClickLanguage('ko')">
            <a class="btn btn-block text-left">
              <img src="@/assets/icons/ic-globe.svg" class="rounded-circle invisible"/>
              <span class="ml-2">한국어</span>
            </a>
          </div>
          <div class="p-2 border-top" style="border-color:#444854!important;"
               @click="onClickLanguage('th')">
            <a class="btn btn-block text-left">
              <img src="@/assets/icons/ic-globe.svg" class="rounded-circle invisible"/>
              <span class="ml-2">เปลี่ยนภาษา</span>
            </a>
          </div>
          <!--<div class="p-2 border-top" style="border-color:#444854!important;"-->
               <!--@click="onClickLanguage('tl')">-->
            <!--<a class="btn btn-block text-left">-->
              <!--<img src="@/assets/icons/ic-globe.svg" class="rounded-circle invisible"/>-->
              <!--<span class="ml-2">Tagalog</span>-->
            <!--</a>-->
          <!--</div>-->
          <div class="p-2 border-top" style="border-color:#444854!important;"
               @click="onClickLanguage('vi')">
            <a class="btn btn-block text-left">
              <img src="@/assets/icons/ic-globe.svg" class="rounded-circle invisible"/>
              <span class="ml-2">Tiếng Việt</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<style scoped>
  .bg-selected {
    background: #e4f2ff;
  }
</style>
<script>
// @ is an alias to /src
import store from '@/store';
import { mapGetters } from 'vuex';
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'MobileMenu',
  components: {
    Header,
    Footer,
  },
  props: {
  },
  computed: {
    ...mapGetters(['browsingBoardGroup', 'browsingBoardList', 'lang']),
  },
  methods: {
    onClickBoardGroup(boardGroup) {
      store.dispatch('SET_BOARD_GROUP', boardGroup);
    },
  },
  data() {
    return {
      // preferredCountry: this.preferredCountry,
    };
  },
  created() {
    // this.getPreferredCountry();
  },
};
</script>
