<template>
  <div class="mobile-bg-white" style="background-color:#ebeff7;" v-if="$store.getters.userInfo">
    <Header/>
    <BoardNavigator class="d-none d-md-block" />
    <div class="container-lg">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="mobile-no-card shadow-sm py-5 px-4 my-5 bg-white rounded">
            <h5 class="text-center font-weight-bold mb-3 mobile-section-title">
              {{ $t('nickname의 마이페이지', { nickname: $store.getters.userInfo.nickname }) }}
            </h5>
            <div class="text-center pb-4" style="font-size:11pt;">
              <span class="font-weight-bold">
                {{ $t('작성한 글') }}
              </span> <span>{{ $t('num개', {
              num: Number(userInfoCountPosts
              ).toLocaleString() }) }}</span>
              <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
              <span class="font-weight-bold">
                {{ $t('작성한 댓글') }}
              </span> <span>{{ $t('num개', {
              num: Number(userInfoCountComments
              ).toLocaleString() }) }}</span>
            </div>

            <!-- 관심있는 국가 선택 -->
            <div class="form-group py-4">
              <h5 class="font-weight-bold mobile-section-subtitle">{{ $t('관심국가 변경') }}</h5>
              <select class="form-control" id="registerPreferredCountry"
                      v-model="userModel.preferred_country">
                <option value="" disabled selected>{{ $t('관심 있는 국가 선택') }}</option>
                <option value="VN">{{ $t('COUNTRIES.베트남') }}</option>
                <option value="PH">{{ $t('COUNTRIES.필리핀') }}</option>
                <option value="TH">{{ $t('COUNTRIES.태국') }}</option>
                <option value="NP">{{ $t('COUNTRIES.네팔') }}</option>
              </select>

              <button class="btn btn-primary btn-block mt-3"
                      @click="changePreferredCountry(userModel)">{{ $t('완료') }}</button>
            </div>

            <!-- 비밀번호 입력 -->
            <div class="form-group py-4">
              <h5 class="font-weight-bold mobile-section-subtitle">{{ $t('로그인 비밀번호 변경') }}</h5>
              <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                <input type="password" class="form-control mb-2"
                       :placeholder="$t('기존 로그인 비밀번호 입력')"
                       v-model="userModel.password">
                <input type="password" class="form-control"
                       :placeholder="$t('새로운 로그인 비밀번호 입력')"
                       v-model="userModel.new_password">
                <small class="form-text text-muted mt-2">
                  {{ $t('로그인 비밀번호는 6자리 이상의 영문+숫자 조합으로 설정하세요') }}
                </small>
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
              <button class="btn btn-primary btn-block mt-3"
                      @click="changePassword(userModel)">{{ $t('완료') }}</button>
            </div>

            <!-- 전화번호 변경 -->
            <div class="form-group py-4">
              <h5 class="font-weight-bold mobile-section-subtitle">{{ $t('휴대폰번호 변경') }}</h5>
              <ValidationObserver v-slot="{ handleSubmit }" v-if="mobileVerifier">
                <form @submit.prevent="handleSubmit(changePhone)" autocomplete="off">
                  <!-- 휴대폰번호 입력 -->
                  <div class="row no-gutters">
                    <!--<div class="col-3">-->
                      <!--<ValidationProvider rules="required|oneOf:82" v-slot="{ errors }">-->
                        <!--<select class="form-control mb-2"-->
                                <!--v-model="phoneChangeModel.phone_code">-->
                          <!--<option value="82">+82</option>-->
                        <!--</select>-->
                        <!--<span class="formErrorMsg">{{ errors[0] }}</span>-->
                      <!--</ValidationProvider>-->
                    <!--</div>-->
                    <div class="col-12">
                      <ValidationProvider :rules="{ regex: /^[0-9- ]+$/, required: true,
                      min: 9, max: 13 }" v-slot="{ errors }">
                        <input type="text" class="form-control"
                               :placeholder="$t('휴대폰번호')"
                               @keypress="phoneFormat($event)"
                               v-model="phoneChangeModel.phone_number" maxlength="13"/>
                        <span class="formErrorMsg">{{ errors[0] }}</span>
                      </ValidationProvider>
                    </div>
                  </div>
                  <!-- 인증번호 요청 버튼 -->
                  <div class="mt-2" v-if="mobileVerifier.status === 'INITIAL'">
                    <button class="btn btn-primary btn-block" type="button"
                            @click="mobileVerifier.getVerificationCode(
                              phoneChangeModel.phone_code, phoneChangeModel.phone_number)">
                      {{ $t('인증번호 요청') }}
                    </button>
                  </div>

                  <div v-if="['REQUESTED', 'FAILED'].includes(mobileVerifier.status)">
                    <!-- 인증번호 입력 -->
                    <div class="mt-2">
                      <div class="form-inline">
                        <ValidationProvider rules="required|numeric|min:1|max:6"
                                            v-slot="{ errors }" class="w-100">
                          <input type="text" class="form-control w-100" style="padding-right:150px;"
                                 maxlength="6"
                                 :placeholder="$t('인증번호')"
                                 @keypress="numberFormat($event)"
                                 v-model="mobileVerifier.verificationCode">
                          <span class="formErrorMsg">{{ errors[0] }}</span>
                        </ValidationProvider>
                        <span style="margin-left:-144px;">
                          <span>
                            <small>
                              {{ moment.duration(mobileVerifier.timer, 'seconds').format('mm:ss') }}
                            </small>
                          </span>
                          <button class="btn text-secondary" type="button"
                                  @click="mobileVerifier.getVerificationCode(
                                    phoneChangeModel.phone_code, phoneChangeModel.phone_number)">
                            <small>{{ $t('인증번호 재요청') }}</small>
                          </button>
                        </span>
                      </div>
                    </div>

                    <!-- 인증 실패 알럿 -->
                    <div class="alert alert-danger mt-3 text-center p-1" role="alert"
                         v-if="mobileVerifier.status === 'FAILED'">
                      <small>Verification code error. Please try again.</small>
                    </div>

                    <!-- 인증하기 -->
                    <button class="btn btn-primary btn-block mt-3" type="button"
                            @click="mobileVerifier.postVerificationCode(
                            phoneChangeModel.phone_code, phoneChangeModel.phone_number)">
                      {{ $t('인증하기') }}
                    </button>
                  </div>

                  <div v-if="['VERIFIED'].includes(mobileVerifier.status)">
                    <!-- 인증번호 입력 (완료) -->
                    <div class="mt-2">
                      <div class="form-inline">
                        <input type="text" class="form-control w-100"
                               style="padding-right:150px;"
                               maxlength="6"
                               :placeholder="$t('인증번호')"
                               @keypress="numberFormat($event)"
                               :disabled="mobileVerifier.status === 'VERIFIED'"
                               v-model="mobileVerifier.verificationCode">
                        <span style="margin-left:-64px;">
                          <small>{{ $t('인증 완료') }}</small>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div v-if="mobileVerifier.status === 'VERIFIED'">
                    <!-- 인증 완료 알럿 -->
                    <div class="alert alert-success mt-3 text-center p-1" role="alert">
                      <small>{{ $t('휴대폰번호 인증이 완료되었습니다.') }} {{ $t('아래 버튼을 눌러 변경하세요.') }}</small>
                    </div>

                    <!-- 완료 버튼 -->
                    <div class="mt-3">
                      <button class="btn btn-primary btn-block" type="submit">
                        {{ $t('변경하기') }}
                      </button>
                    </div>
                  </div>
                </form>
              </ValidationObserver>
            </div>

            <!-- 닉네임 입력 -->
            <div class="form-group py-4">
              <h5 class="font-weight-bold mobile-section-subtitle">{{ $t('닉네임 변경') }}</h5>
              <p style="font-size:11pt;">
                {{ $t('닉네임을 변경하신 후 새로 작성하는 글 또는 댓글부터 새로운 닉네임으로 작성되며, ' +
                '기존에 작성하신 게시물의 닉네임은 그대로 유지됩니다.') }}
              </p>
              <ValidationProvider rules="required|alpha_num|min:2|max:16" v-slot="{ errors }">
                <input type="text" class="form-control"
                       :placeholder="$t('새로운 닉네임 입력')"
                       v-model="userModel.nickname">
                <small class="form-text text-muted mt-2">
                  {{ $t('글 작성 시 사용할 닉네임을 16글자 이하의 숫자+영문 조합으로 적어주세요') }}
                </small>
                <span class="formErrorMsg">{{ errors[0] }}</span>
              </ValidationProvider>
              <button class="btn btn-primary btn-block mt-3"
                      @click="changeNickname(userModel)">{{ $t('완료') }}</button>
            </div>

            <!-- 회원탈퇴 -->
            <div class="form-group py-4">
              <h5 class="font-weight-bold mobile-section-subtitle">{{ $t('회원탈퇴') }}</h5>
              <p style="font-size:11pt;">
                {{ $t('회원탈퇴를 신청하시면 관리자 승인 후 탈퇴 처리되며, 작성하신 게시물과 댓글의 편집 권한이 모두 사라집니다.') }}
                {{ $t('또한 다양한 경품이 제공되는 이벤트에 참여하실 수 없습니다.') }}
              </p>
              <select class="form-control"
                      v-model="userModel.secedeReason">
                <option value="" disabled selected>{{ $t('탈퇴 사유 선택') }}</option>
                <option value="USELESS">{{ $t('게시판에 유용한 글이 없어서') }}</option>
                <option value="NOT_EXIST_COUNTRY">{{ $t('내가 관심있는 국가가 없어서') }}</option>
                <option value="NOT_SUPPORT_LAN">{{ $t('내가 사용하는 언어를 지원하지 않아서') }}</option>
                <option value="BULLY">{{ $t('다른 회원들의 괴롭힘으로 인해서') }}</option>
                <option value="INCONVENIENCE">{{ $t('서비스를 사용하기 불편해서') }}</option>
                <option value="NA">{{ $t('더이상 사용하지 않아서') }}</option>
                <option value="ETC">{{ $t('기타') }}</option>
              </select>
              <input v-if="userModel.secedeReason=='ETC'" maxlength="50"
                     type="text" class="form-control mt-2"
                     :placeholder="$t('탈퇴 사유 입력')"
                     v-model="userModel.secedeReasonDesc">
              <input type="password" class="form-control mt-2"
                     :placeholder="$t('기존 로그인 비밀번호 입력')"
                     v-model="userModel.password">
              <button class="btn btn-primary btn-block mt-3"
                      @click="secedeUser(userModel)">{{ $t('완료') }}</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<style>
#mainRegister {
  /*text-align: center;*/
}
</style>

<script>
// @ is an alias to /src
import { mapGetters } from 'vuex';
import axios from 'axios';
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import MobileVerifier from '@/api/mobile-verification';
import Header from '@/components/Header.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import Footer from '@/components/Footer.vue';
import store from '@/store';

export default {
  name: 'MyPage',
  components: {
    ValidationObserver,
    ValidationProvider,
    Header,
    BoardNavigator,
    Footer,
  },
  computed: {
    ...mapGetters(['userInfo', 'userInfoCountPosts', 'userInfoCountComments']),
  },
  data() {
    return {
      userModel: {
        phone_code: '82',
        phone_number: '',
        password: '',
        nickname: '',
        lang: 'ko',
        preferred_country: '',
        terms: false,
        privacy: false,
      },
      phoneChangeModel: {
        phone_code: '82',
        phone_number: '',
      },
      mobileVerifier: null,
    };
  },
  methods: {
    getUserInfo() {
      this.$store.dispatch('GET_USER', 'me');
    },
    changePreferredCountry() {
      const preferredCountry = this.userModel.preferred_country;
      axios.put(`${process.env.VUE_APP_ENDPOINT}/users/preferred-country-change`, this.userModel).then((res) => {
        if (res.status === 200) {
          alert('관심국가가 변경되었습니다.');
          this.userInfo.preferred_country = preferredCountry;
          localStorage.userInfo = JSON.stringify(this.userInfo);
          this.$router.go();
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 401:
            alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
            break;
          case 404:
            alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
    secedeUser() {
      axios.post(`${process.env.VUE_APP_ENDPOINT}/users/secede-application`, this.userModel).then((res) => {
        if (res.status === 200) {
          alert('탈퇴를 신청했습니다.');
          store.dispatch('LOGOUT').then(() => {
            if (this.$route.name !== 'Home') this.$router.push('/');
          });
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 401:
            alert('로그인 정보가 일치하지 않습니다.');
            break;
          case 404:
            alert('계정이 존재하지 않습니다.');
            break;
          case 410:
            alert('탈퇴 처리중 입니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
    changeNickname() {
      const userNickname = this.userModel.nickname;
      axios.put(`${process.env.VUE_APP_ENDPOINT}/users/nickname-change`, this.userModel).then((res) => {
        if (res.status === 200) {
          alert('닉네임이 변경되었습니다.');
          this.userInfo.nickname = userNickname;
          localStorage.userInfo = JSON.stringify(this.userInfo);
          this.$router.go();
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 401:
            alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
            break;
          case 404:
            alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
    changePassword() {
      axios.put(`${process.env.VUE_APP_ENDPOINT}/auth/password-change`, this.userModel).then((res) => {
        if (res.status === 200) {
          alert('비밀번호가 변경되었습니다.');
          this.$router.go();
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 401:
            alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
            break;
          case 404:
            alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
    changePhone() {
      this.phoneChangeModel.verification_code = this.mobileVerifier.verificationCode;
      axios.post(`${process.env.VUE_APP_ENDPOINT}/auth/phone-change`, this.phoneChangeModel).then((res) => {
        if (res.status === 200) {
          // TODO: Improve
          alert('휴대폰번호가 변경되었습니다.');
          this.$router.go();
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 409:
            alert('이미 존재하는 회원입니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
  },
  mounted() {
    this.getUserInfo();
    this.mobileVerifier = new MobileVerifier('PHONE_CHANGE', 'INITIAL');
    this.userModel.preferred_country = this.userInfo.preferred_country;
  },
};
</script>
