<template>
  <div id="homeEmpty" class="text-center" style="background-color:#ebeff7;">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
          <div class="dummy-height"></div>
          <h2 class="mb-4 mobile-section-title" for="selectBoardGroup">
            {{ $t('관심있는 국가를 선택하세요') }}
          </h2>
          <select class="form-control form-control-lg mb-4" id="selectBoardGroup"
                  v-model="selectedBoardGroup">
            <option value="" disabled selected>{{ $t('관심 있는 국가 선택') }}</option>
            <option value="VN">{{ $t('COUNTRIES.베트남') }}</option>
            <option value="PH">{{ $t('COUNTRIES.필리핀') }}</option>
            <option value="TH">{{ $t('COUNTRIES.태국') }}</option>
            <option value="NP">{{ $t('COUNTRIES.네팔') }}</option>
          </select>
          <button type="button" class="btn btn-primary btn-lg btn-block"
                  v-on:click="setBoardGroup(selectedBoardGroup)">{{ $t('게시판으로 이동') }}</button>
          <div class="dummy-height"></div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.dummy-height {
  height:300px;
}
@media (max-width: 768px) {
  .dummy-height {
    height:150px;
  }
}
</style>

<script>
// @ is an alias to /src
import store from '@/store';

export default {
  name: 'HomeEmpty',
  components: {
  },
  data() {
    return {
      selectedBoardGroup: '',
    };
  },
  methods: {
    setBoardGroup(boardGroup) {
      store.dispatch('SET_BOARD_GROUP', boardGroup);
    },
  },
};
</script>
