<template>
  <div>
    <BoardNavigator />
    <div class="container-lg pb-5 mobile-no-px">
      <div class="row mt-5 mb-5 no-gutters"
           v-for="board in browsingBoardList.slice(0,2)" :key="board.id">
        <div class="col-sm-12">
          <BoardPopular :board="board" :number="2"
                        :title="`${$t('BOARDS.' + board.name)} ${$t('인기글')}`"
                        :urlNamespace="`/boards/${board.url_namespace}`" />
        </div>
      </div>
      <div class="row" v-if="browsingBoardGroup">
        <div class="col-sm-12">
          <h3 class="font-weight-bold mobile-section-title pl-3 pl-md-0">
            {{ $t('Cross Shop') }}
            <router-link style="position:relative;top: -5px;"
                         class="btn btn-outline-secondary float-right d-none d-md-block"
                         :to="`/boards/${browsingBoardGroup.toLowerCase()}-cross-shop`">
              {{ $t('더보기') }}
            </router-link>
            <router-link style="position:relative;top: -5px;"
                         class="btn btn-outline-secondary btn-sm float-right d-md-none mr-2"
                         :to="`/boards/${browsingBoardGroup.toLowerCase()}-cross-shop`">
              {{ $t('더보기') }}
            </router-link>
          </h3>
        </div>
        <div class="col-sm-12 cross-shop-ad">
          <img src="https://fakeimg.pl/1200x300/?text=CLICK_TO_BUY_NOW"
               @click="onCrossShopImageClick()" />
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped>

#navPost {
  display: inline-flex;
}
#navBoard a, #navPost a {
  font-weight: bold;
  color: #2c3e50;
}
.cross-shop-ad img {
  max-width: 100%;
  cursor: pointer;
}

</style>

<script>
// @ is an alias to /src
import { mapGetters } from 'vuex';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import BoardPopular from '@/components/Board/BoardPopular.vue';

export default {
  name: 'HomeCookie',
  props: {
    action: String,
  },
  components: {
    BoardNavigator,
    BoardPopular,
  },
  data() {
    return {
      selectedBoard: null,
      selectedBoardId: -1,
    };
  },
  methods: {
    getSelectedBoard(boardList, urlNamespace) {
      if (boardList) {
        this.selectedBoard = boardList.filter((obj) => obj.url_namespace === urlNamespace).pop();
      }
    },
    onCrossShopImageClick() {
      if (!this.isAuthenticated) {
        this.$router.replace('/login');
        return;
      }
      this.$router.replace(`/boards/${this.browsingBoardGroup.toLowerCase()}-cross-shop/write?postLabel=ORDER`);
    },
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'browsingBoardGroup', 'browsingBoardList']),
  },
  watch: {
    $route(to) {
      this.getSelectedBoard(this.boardList, to.params.urlNamespace);
    },
    boardList(to) {
      this.getSelectedBoard(to, this.$route.params.urlNamespace);
    },
    selectedBoard(to) {
      if (to) {
        this.selectedBoardId = to.id;
      } else {
        this.selectedBoardId = -1;
      }
    },
  },
};
</script>
