<template>

<div class="text-center text-muted mobile-footer"
     style="padding:50px 10px; font-size:11pt; background:#222631;">
  <img id="footer-logo" class="mb-4" src="@/assets/logo-gray.svg" />
  <div>
    <ol>
      <li>
        <router-link class="m-2 text-muted" to="/about/terms">
          {{ $t('이용약관') }}</router-link>
      </li>
      <li>
        <router-link class="m-2 text-muted" to="/about/privacy">
          {{ $t('개인정보처리방침') }}</router-link>
      </li>
      <li>
        <span class="m-2">{{ $t('건의사항 및 문의') }}</span></li>
      <li class="mobile-footer-contacts mobile-font-size-sm">
        <span class="m-2"><img src="@/assets/icons/ic-mail.svg" />
          support@crossenf.com</span>
        <span class="m-2"><img src="@/assets/icons/ic-phone.svg" />
          +82 2 1670 2624</span>
      </li>
    </ol>
  </div>
  <div class="mobile-copyright mt-4">
    <span>Copyright ⓒ 2020~ Coinone Transfer Inc. All rights reserved</span>
  </div>
</div>
</template>

<script>
export default {
  name: 'Footer',
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  ol {
    padding: 10px;
    margin: 0;
  }
  ol li {
    display: inline-block;
    list-style-type:none;
  }
  @media (max-width: 768px) {
    ol {
      padding: 5px 0!important;
    }
    ol li {
      margin-bottom: 8px;
      display: block;
      list-style-type: none;
    }
    .mobile-footer {
      padding:25px 10px!important;
      text-align: left!important;
    }
    #footer-logo {
      margin-left: 8px!important;
      margin-bottom: 10px!important;
    }
    .mobile-copyright {
      font-size: 8pt;
      margin-top: 0!important;
      margin-left: 8px!important;
    }
  }
</style>
