<template>

<nav class="navbar navbar-expand-sm navbar-light bg-white">
  <div class="container-lg">

    <div class="w-100 d-none d-md-block">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button"
           data-toggle="dropdown">
          <img class="rounded-circle" src="@/assets/icons/ic-globe.svg" alt="Language">
          {{ $t('LANG.' + lang) }}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" @click="onClickLanguage('en')">English</a>
          <a class="dropdown-item" @click="onClickLanguage('ko')">한국어</a>
          <a class="dropdown-item" @click="onClickLanguage('th')">เปลี่ยนภาษา</a>
          <!--<a class="dropdown-item" @click="onClickLanguage('tl')">Tagalog</a>-->
          <a class="dropdown-item" @click="onClickLanguage('vi')">Tiếng Việt</a>
        </div>
      </li>
    </div>
    <div class="d-flex w-100 order-0 justify-content-md-center justify-content-between">
      <router-link to="/" class="navbar-brand text-center">
        <img src="@/assets/logo-original.svg" />
      </router-link>
      <div v-if="browsingBoardGroup" class="d-none d-md-block"
           style="height:40px;line-height:40px;">
        <span>&vert;</span>
      </div>
      <ul v-if="browsingBoardGroup" class="navbar-nav d-none d-md-block">
        <li class="nav-item dropdown ml-2">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-toggle="dropdown">
            <img class="rounded-circle"
                 :src="require(`@/assets/icons/ic-flag-${browsingBoardGroup.toLowerCase()}.svg`)">
            {{ $t('ISO_CODES.' + browsingBoardGroup) }}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" @click="onClickBoardGroup('VN')">
              <img src="@/assets/icons/ic-flag-vn.svg" class="rounded-circle" alt="...">
              <span class="pl-2">{{ $t('COUNTRIES.베트남') }}</span>
            </a>
            <a class="dropdown-item" href="#" @click="onClickBoardGroup('PH')">
              <img src="@/assets/icons/ic-flag-ph.svg" class="rounded-circle" alt="...">
              <span class="pl-2">{{ $t('COUNTRIES.필리핀') }}</span>
            </a>
            <a class="dropdown-item" href="#" @click="onClickBoardGroup('TH')">
              <img src="@/assets/icons/ic-flag-th.svg" class="rounded-circle" alt="...">
              <span class="pl-2">{{ $t('COUNTRIES.태국') }}</span>
            </a>
            <a class="dropdown-item" href="#" @click="onClickBoardGroup('NP')">
              <img src="@/assets/icons/ic-flag-np.svg" class="rounded-circle" alt="...">
              <span class="pl-2">{{ $t('COUNTRIES.네팔') }}</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- 모바일 메뉴 버튼 -->
      <router-link v-if="this.$router.currentRoute.path !== '/mobile-menu'"
                   to="/mobile-menu" class="navbar-brand d-md-none mr-0">
        <img src="@/assets/icons/ic-menu.svg" />
      </router-link>
      <a v-if="this.$router.currentRoute.path === '/mobile-menu'"
         class="navbar-brand d-md-none mr-0" @click="$router.go(-1)">
        <img src="@/assets/icons/ic-close.svg"/>
      </a>
    </div>
    <div class="w-100 d-none d-md-block">
      <div class="d-flex justify-content-end">
        <router-link to="/register" class="btn my-2 my-sm-0 mr-sm-4 btn-outline-secondary"
                     v-if="!$store.getters.isAuthenticated">
          {{ $t('회원가입') }}
        </router-link>
        <router-link v-if="$store.getters.userInfo && $store.getters.userInfo.is_superuser
          && $store.getters.isOfficeIP"
                     to="/admin"
                     class="btn my-2 my-sm-0 mr-sm-4 btn-outline-danger">
          관
        </router-link>
        <router-link to="/my-page" class="btn my-2 my-sm-0 mr-sm-4 btn-outline-secondary"
                     v-if="$store.getters.isAuthenticated">
          {{ $t('마이페이지') }}
        </router-link>
        <router-link to="/login" class="btn my-2 my-sm-0 btn-primary"
                     v-if="!$store.getters.isAuthenticated">
          {{ $t('로그인') }}
        </router-link>
        <button class="btn my-2 my-sm-0 btn-primary"
                v-if="$store.getters.isAuthenticated"
                @click.prevent='onClickLogout'>
          {{ $t('로그아웃') }}
        </button>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
import store from '@/store';
import { mapGetters } from 'vuex';

export default {
  name: 'Header',
  props: {
    msg: String,
  },
  computed: {
    ...mapGetters(['browsingBoardGroup', 'lang']),
  },
  methods: {
    onClickBoardGroup(boardGroup) {
      store.dispatch('SET_BOARD_GROUP', boardGroup);
      // TODO: 다른 방법
      this.$router.push('/');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0!important;
}
li {
  display: inline-block;
}
.navbar, .nav-item a {
  cursor: pointer;
}
</style>
