<template>
  <div class="about" style="background-color:#ebeff7;">
    <Header/>
    <BoardNavigator />
    <div class="container-lg">
      <div class="row pt-4">
        <div class="col-sm-12">
          <h1>This is About page.</h1>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<style>
</style>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'About',
  components: {
    Header,
    BoardNavigator,
    Footer,
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>
