<template>
  <div class="agreement" style="background-color:#ebeff7;">
    <Header/>
    <BoardNavigator />
    <div class="container-lg">
      <div class="row pt-4">
        <div class="col-sm-12">
          <AboutNavigator />
          <div class="py-5">
            <Terms v-if="document === 'terms'" />
            <Privacy v-if="document === 'privacy'" />
            <SMSReceive v-if="document === 'sms-receive'" />
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<style>
</style>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import AboutNavigator from '@/components/About/AboutNavigator.vue';
import Terms from '@/components/About/Terms.vue';
import Privacy from '@/components/About/Privacy.vue';
import SMSReceive from '@/components/About/SMSReceive.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'Agreement',
  props: {
    document: String,
  },
  components: {
    Header,
    BoardNavigator,
    AboutNavigator,
    Terms,
    Privacy,
    SMSReceive,
    Footer,
  },
  data() {
    return {
    };
  },
  methods: {
  },
};
</script>
