<template>
  <div>
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" :class="{ disabled: pageFactor === 0 }">
          <button class="page-link"
                  @click="onClickPage(pageFactor*displaySize)">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>
        <li class="page-item" :class="{ disabled: currentPage === 1 }">
          <button class="page-link" @click="onClickPage(currentPage-1)" aria-label="Previous Page">
            <span aria-hidden="true">&lt;</span>
          </button>
        </li>
        <li v-for="displayPage in displayPages"
            :key="`dp${displayPage}`"
            class="page-item" :class="{ active: displayPage === currentPage }">
          <button class="page-link" @click="onClickPage(displayPage)">
            {{ displayPage }}
          </button>
        </li>
        <li class="page-item" :class="{ disabled: currentPage === totalPages }">
          <button class="page-link" @click="onClickPage(currentPage+1)" aria-label="Next Page">
            <span aria-hidden="true">&gt;</span>
          </button>
        </li>
        <li class="page-item" :class="{ disabled: pageFactor === lastPageFactor }">
          <button class="page-link"
                  @click="onClickPage((pageFactor+1)*displaySize+1)"
                  aria-label="Next Set">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>

</template>

<style scoped>
  .page-link {
    border: 0;
    color: black;
  }
</style>

<script>
// @ is an alias to /src

export default {
  name: 'Pagination',
  props: {
    currentPage: Number,
    totalPages: Number,
  },
  components: {
  },
  data() {
    return {
      displaySize: 5,
      displayPages: [],
    };
  },
  computed: {
    pageFactor() {
      return Math.floor((this.currentPage - 1) / this.displaySize);
    },
    lastPageFactor() {
      return Math.floor((this.totalPages - 1) / this.displaySize);
    },
  },
  methods: {
    setDisplayPages() {
      if (this.totalPages <= this.displaySize) {
        this.displayPages = new Array(this.totalPages).fill(1).map((n, i) => n + i);
        return;
      }
      const start = this.pageFactor * this.displaySize + 1;
      const numberToDisplay = Math.min(5, this.totalPages - start + 1);
      this.displayPages = new Array(numberToDisplay).fill(start).map((n, i) => n + i);
    },
    onClickPage(page) {
      this.$emit('onClickPage', page);
    },
  },
  mounted() {
    this.setDisplayPages();
  },
};
</script>
