<template>
  <div class="editor">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
        >
          <icon name="bold" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
        >
          <icon name="italic" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
        >
          <icon name="strike" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
        >
          <icon name="underline" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.code() }"
          @click="commands.code"
        >
          <icon name="code" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.paragraph() }"
          @click="commands.paragraph"
        >
          <icon name="paragraph" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          @click="commands.heading({ level: 1 })"
        >
          H1
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
        >
          H2
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          @click="commands.heading({ level: 3 })"
        >
          H3
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
        >
          <icon name="ul" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
        >
          <icon name="ol" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.blockquote() }"
          @click="commands.blockquote"
        >
          <icon name="quote" />
        </button>

        <button type="button"
          class="menubar__button"
          :class="{ 'is-active': isActive.code_block() }"
          @click="commands.code_block"
        >
          <icon name="code" />
        </button>

        <button type="button"
          class="menubar__button"
          @click="commands.horizontal_rule"
        >
          <icon name="hr" />
        </button>

        <button type="button"
          class="menubar__button"
          @click="commands.undo"
        >
          <icon name="undo" />
        </button>

        <button type="button"
          class="menubar__button"
          @click="commands.redo"
        >
          <icon name="redo" />
        </button>

        <button type="button"
          class="menubar__button"
          @click="showImagePrompt(commands.image)"
        >
          <icon name="image" />
        </button>

      </div>
    </editor-menu-bar>

    <editor-content class="editor__content" :editor="editor" />
  </div>
</template>

<script>
import axios from 'axios';
import Icon from '@/components/Icon.vue';
import { Editor, EditorContent, EditorMenuBar } from 'tiptap';
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
  Image,
} from 'tiptap-extensions';
import ImageUpload from '@/plugins/ImageUpload';

export default {
  components: {
    EditorContent,
    EditorMenuBar,
    Icon,
  },
  props: ['value'],
  data() {
    return {
      editor: null,
      emitAfterOnUpdate: false,
    };
  },
  mounted() {
    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new BulletList(),
        new CodeBlock(),
        new HardBreak(),
        new Heading({ levels: [1, 2, 3] }),
        new HorizontalRule(),
        new ListItem(),
        new OrderedList(),
        new TodoItem(),
        new TodoList(),
        new Link(),
        new Bold(),
        new Code(),
        new Italic(),
        new Strike(),
        new Underline(),
        new History(),
        new Image(),
        new ImageUpload({
          uploader: (image) => {
            // Method that handles the image upload and returns a url(string)
            this.uploadImage(image);
          },
        }),
      ],
      content: this.value,
      onUpdate: ({ getHTML }) => {
        this.emitAfterOnUpdate = true;
        this.$emit('input', getHTML());
      },
    });
    this.editor.setContent(this.value);
  },
  methods: {
    showImagePrompt(command) {
      const src = prompt('Enter the url of your image here');
      if (src !== null) {
        command({ src });
      }
    },
    async uploadImage(selectedFile) {
      // Restricts maxAllowedFileSizeMb to 5
      if (selectedFile.size / 1024 / 1024 > 5) {
        // handle error
        return;
      }

      // Check the allowed content type
      if (!['image/jpeg', 'image/png', 'image/gif'].includes(selectedFile.type)) {
        // handle error
        return;
      }

      // Optionally you can set a state here so as to toggle the editor
      // to readonly mode until the image is uploaded.
      this.imageUploadInProgress = true;

      // Handle Upload and return URL
      // eslint-disable-next-line
      return this.startDirectUpload(selectedFile).then((imageUrl) => {
        return imageUrl;
      })
        .catch((error) => {
          alert('알 수 없는 에러');
          // eslint-disable-next-line
          console.error(error);
        })
        .finally(() => {
          this.imageUploadInProgress = false;
        });
    },
    startDirectUpload(selectedFile) {
      const formData = new FormData();
      formData.append('file', selectedFile);
      return axios.post(`${process.env.VUE_APP_ENDPOINT}/images`, formData, {
        'Content-Type': 'multipart/form-data',
      }).then((res) => res.data.image_url).catch((error) => {
        switch (error.response.status) {
          default:
            this.status = 'FAILED';
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
  },
  beforeDestroy() {
    if (this.editor) this.editor.destroy();
  },
  watch: {
    value(val) {
      if (this.emitAfterOnUpdate) {
        this.emitAfterOnUpdate = false;
        return;
      }
      if (this.editor) this.editor.setContent(val);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/styles/tiptap/main.scss';
</style>

<style>

  .editor__content .ProseMirror {
    padding: 2rem;
    min-height: 20rem;
  }

</style>
