<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
}
a {
  color: black;
}
.formErrorMsg {
  font-size: 8pt;
  color: red;
}
.primary700 {
  color: #4674ea;
}
.bg-primary700 {
  background-color: #4674ea;
}
.badge {
  font-weight: normal!important;
}
ol.board-posts-mobile {
  margin: 0;
  margin-block-start: 0!important;
  margin-block-end: 0!important;
  padding-inline-start: 0!important;
  border-top: 1px solid #eceef5;
}
ol.board-posts-mobile li {
  list-style-type:none;
  border-bottom: 1px solid #eceef5;
  padding: 10px 0;
}
.inline {
  display: inline;
}
@media (max-width: 768px) {
  .mobile-no-card {
    padding: 3rem 0!important;
    margin: 0!important;
    box-shadow: none!important;
  }
  .mobile-bg-white {
    background: white!important;
  }
  .mobile-section-title {
    font-size: 1.3rem;
  }
  .mobile-section-subtitle {
    font-size: 1.1rem;
  }
  .mobile-font-size-sm {
    font-size: 9pt;
  }
  .d-mobile-none {
    display:none;
  }
  .mobile-no-px {
    padding-right: 0;
    padding-left: 0;
  }
}
</style>
