<template>
  <div class="login mobile-bg-white" style="background-color:#ebeff7;">
    <Header/>
    <BoardNavigator class="d-none d-md-block" />
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(loginUser)">
        <div class="container-lg" id="mainLogin">
          <div class="row pb-5">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 mb-5 pb-5">
              <div class="mobile-no-card shadow-sm py-5 px-4 my-5 bg-white rounded mb">
                <h5 class="text-center font-weight-bold mb-4">{{ $t('로그인') }}</h5>

                <!-- 휴대폰번호 입력 -->
                <div class="row no-gutters">
                  <!--<div class="col-3">-->
                    <!--<ValidationProvider rules="required|oneOf:82" v-slot="{ errors }">-->
                      <!--<select class="form-control mb-2"-->
                              <!--v-model="loginModel.phone_code">-->
                        <!--<option value="82">+82</option>-->
                      <!--</select>-->
                      <!--<span class="formErrorMsg">{{ errors[0] }}</span>-->
                    <!--</ValidationProvider>-->
                  <!--</div>-->
                  <div class="col-12">
                    <ValidationProvider :rules="{ regex: /^[0-9- ]+$/, required: true,
                    min: 9, max: 13 }" v-slot="{ errors }">
                      <input type="text" class="form-control"
                             :placeholder="$t('휴대폰번호')"
                             @keyup.enter="handleSubmit(loginUser)"
                             v-model="loginModel.phone_number" maxlength="13"
                             @keypress="phoneFormat($event)"/>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>

                <!-- 비밀번호 입력 -->
                <div class="form-group mt-2">
                  <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                    <input type="password" class="form-control"
                           :placeholder="$t('로그인 비밀번호 입력')"
                           @keyup.enter="handleSubmit(loginUser)"
                           autocomplete="on"
                           v-model="loginModel.password" maxlength="16">
                    <span class="formErrorMsg">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <!-- 완료 버튼 -->
                <div class="mt-4">
                  <button class="btn btn-primary btn-block" type="submit">
                    {{ $t('완료') }}
                  </button>
                </div>

                <!-- 비밀번호 찾기/회원가입 링크 -->
                <div class="text-center mt-5" style="font-size:10pt;">
                  <div>
                    <span>{{ $t('비밀번호를 잊으셨나요?') }}</span>&nbsp;
                    <router-link to="/password-reset" class="btn-link">
                      {{ $t('비밀번호 재설정') }}
                    </router-link>
                  </div>
                  <div class="mt-3">
                    <span>{{ $t('아직 회원이 아니신가요?') }}</span>&nbsp;
                    <router-link to="/register" class="btn-link">
                      {{ $t('회원가입') }}
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
        </div>
      </form>
    </ValidationObserver>
    <Footer/>
  </div>
</template>

<style>
#mainRegister {
  /*text-align: center;*/
}
</style>

<script>
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import Header from '@/components/Header.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'Login',
  components: {
    ValidationObserver,
    ValidationProvider,
    Header,
    BoardNavigator,
    Footer,
  },
  data() {
    return {
      loginModel: {
        phone_code: '82',
        phone_number: '',
        password: 'aaaaa11111', // TODO: DELETE
      },
    };
  },
  methods: {
    loginUser() {
      this.$store.dispatch('LOGIN', this.loginModel)
        .then(() => {
          this.redirect();
          this.$store.dispatch('AUTO_SET_BOARD_GROUP');
        })
        .catch((error) => {
          switch (error.response.status) {
            case 401:
              alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
              break;
            case 404:
              alert('계정이 존재하지 않거나 로그인 정보가 일치하지 않습니다.');
              break;
            default:
              alert('알 수 없는 에러');
              // eslint-disable-next-line
              console.error(error);
              break;
          }
        });
    },
    redirect() {
      const { search } = window.location;
      if (search === '') {
        this.$router.push('/');
      } else {
        // TODO: Redirect function
        // const tokens = search.replace(/^\?/, '').split('&');
        /* eslint no-param-reassign: 2 */
        // const returnPath = tokens.reduce((qs, tkn) => {
        //   const pair = tkn.split('=');
        //   qs[pair[0]] = decodeURIComponent(pair[1]);
        //   return qs;
        // }, {});
        // 리다이렉트 처리
        // console.log(returnPath);
        // this.$router.push(returnPath);
        this.$router.push('/');
      }
    },
  },
};
</script>
