<template>
  <div class="passwordReset mobile-bg-white" style="background-color:#ebeff7;"
       v-if="mobileVerifier">
    <Header/>
    <BoardNavigator class="d-none d-md-block" />
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(resetPassword)" autocomplete="off">
        <div class="container-lg" id="mainRegister">
          <div class="row pb-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 pb-5">
              <div class="mobile-no-card shadow-sm py-5 px-4 my-5 bg-white rounded">
                <h5 class="text-center font-weight-bold mb-4">{{ $t('비밀번호 재설정') }}</h5>

                <!-- 휴대폰번호 입력 -->
                <div class="row no-gutters">
                  <!--<div class="col-3">-->
                    <!--<ValidationProvider rules="required|oneOf:82" v-slot="{ errors }">-->
                      <!--<select class="form-control mb-2"-->
                              <!--v-model="userModel.phone_code"-->
                              <!--:disabled="mobileVerifier.status === 'VERIFIED'">-->
                        <!--<option value="82">+82</option>-->
                      <!--</select>-->
                      <!--<span class="formErrorMsg">{{ errors[0] }}</span>-->
                    <!--</ValidationProvider>-->
                  <!--</div>-->
                  <div class="col-12">
                    <ValidationProvider :rules="{ regex: /^[0-9- ]+$/, required: true,
                    min: 9, max: 13 }" v-slot="{ errors }">
                      <input type="text" class="form-control" :placeholder="$t('휴대폰번호')"
                             v-model="userModel.phone_number" maxlength="13"
                             @keypress="phoneFormat($event)"
                             :disabled="mobileVerifier.status === 'VERIFIED'" />
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>

                <!-- 인증번호 요청 버튼 -->
                <div class="mt-2" v-if="mobileVerifier.status === 'INITIAL'">
                  <button class="btn btn-primary btn-block" type="button"
                          @click="mobileVerifier.getVerificationCode(
                            userModel.phone_code, userModel.phone_number)">
                    {{ $t('인증번호 요청') }}
                  </button>
                </div>

                <div v-if="['REQUESTED', 'FAILED'].includes(mobileVerifier.status)">
                  <!-- 인증번호 입력 -->
                  <div class="mt-2">
                    <div class="form-inline">
                      <ValidationProvider rules="required|numeric|min:1|max:6"
                                          v-slot="{ errors }" class="w-100">
                        <input type="text" class="form-control w-100" style="padding-right:150px;"
                               maxlength="6" :placeholder="$t('인증번호')"
                               @keypress="numberFormat($event)"
                               v-model="mobileVerifier.verificationCode">
                        <span class="formErrorMsg">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <span style="margin-left:-144px;">
                        <span>
                          <small>
                            {{ moment.duration(mobileVerifier.timer, 'seconds').format('mm:ss') }}
                          </small>
                        </span>
                        <button class="btn text-secondary" type="button"
                                @click="mobileVerifier.getVerificationCode(
                                  userModel.phone_code, userModel.phone_number)">
                          <small>{{ $t('인증번호 재요청') }}</small>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- 인증 실패 알럿 -->
                  <div class="alert alert-danger mt-3 text-center p-1" role="alert"
                       v-if="mobileVerifier.status === 'FAILED'">
                    <small>Verification code error. Please try again.</small>
                  </div>

                  <!-- 인증하기 -->
                  <button class="btn btn-primary btn-block mt-3" type="button"
                          @click="mobileVerifier.postVerificationCode(
                          userModel.phone_code, userModel.phone_number)">
                    {{ $t('인증하기') }}
                  </button>
                </div>

                <div v-if="['VERIFIED'].includes(mobileVerifier.status)">
                  <!-- 인증번호 입력 (완료) -->
                  <div class="mt-2">
                    <div class="form-inline">
                      <input type="text" class="form-control w-100"
                             style="padding-right:150px;"
                             maxlength="6" :placeholder="$t('인증번호')"
                             @keypress="numberFormat($event)"
                             :disabled="mobileVerifier.status === 'VERIFIED'"
                             v-model="mobileVerifier.verificationCode">
                      <span style="margin-left:-64px;">
                        <small>{{ $t('인증 완료') }}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div v-if="mobileVerifier.status === 'VERIFIED'">
                  <!-- 인증 완료 알럿 -->
                  <div class="alert alert-success mt-3 text-center p-1" role="alert">
                    <small>{{ $t('휴대폰번호 인증이 완료되었습니다.') }} {{ $t('아래를 모두 채워주세요.') }}</small>
                  </div>

                  <!-- 비밀번호 입력 -->
                  <div class="form-group mt-4">
                    <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                      <input type="password" class="form-control"
                             :placeholder="$t('새로운 로그인 비밀번호 입력')"
                             v-model="userModel.password" maxlength="16">
                      <small class="form-text text-muted mt-2">
                        {{ $t('로그인 비밀번호는 6자리 이상의 영문+숫자 조합으로 설정하세요') }}
                      </small>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

                  <!-- 완료 버튼 -->
                  <div class="mt-5">
                    <button class="btn btn-primary btn-block" type="submit">{{ $t('완료') }}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </form>
    </ValidationObserver>
    <div v-if="mobileVerifier.status !== 'VERIFIED'" style="height:180px;"></div>
    <Footer/>
  </div>
</template>

<style>
#mainRegister {
  /*text-align: center;*/
}
</style>

<script>
// @ is an alias to /src
import axios from 'axios';
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import MobileVerifier from '@/api/mobile-verification';
import Header from '@/components/Header.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'PasswordReset',
  components: {
    ValidationObserver,
    ValidationProvider,
    Header,
    BoardNavigator,
    Footer,
  },
  data() {
    return {
      userModel: {
        phone_code: '82',
        phone_number: '',
        password: '',
      },
      mobileVerifier: null,
    };
  },
  methods: {
    resetPassword() {
      this.userModel.verification_code = this.mobileVerifier.verificationCode;
      axios.post(`${process.env.VUE_APP_ENDPOINT}/auth/password-reset`, this.userModel).then((res) => {
        if (res.status === 200) {
          // TODO: Improve
          alert('비멀번호가 재설정 되었습니다.');
          this.$router.push('/');
        }
      }).catch((error) => {
        switch (error.response.status) {
          case 404:
            alert('계정이 존재하지 않습니다.');
            break;
          default:
            alert('알 수 없는 에러');
            // eslint-disable-next-line
            console.error(error);
            break;
        }
      });
    },
  },
  mounted() {
    this.mobileVerifier = new MobileVerifier('PASSWORD_RESET', 'INITIAL');
  },
};
</script>
