<template>
  <div class="register mobile-bg-white" style="background-color:#ebeff7;" v-if="mobileVerifier">
    <Header/>
    <BoardNavigator class="d-none d-md-block" />
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(registerUser)" autocomplete="off">
        <div class="container-lg" id="mainRegister">
          <div class="row pb-5">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="mobile-no-card shadow-sm py-5 px-4 my-5 bg-white rounded">
                <h5 class="text-center font-weight-bold mb-4">{{ $t('크로스보드에 오신 것을 환영해요') }}</h5>

                <!-- 휴대폰번호 입력 -->
                <div class="row no-gutters">
                  <!--<div class="col-3">-->
                    <!--<ValidationProvider rules="required|oneOf:82" v-slot="{ errors }">-->
                      <!--<select class="form-control mb-2"-->
                              <!--v-model="userModel.phone_code">-->
                        <!--<option value="82">+82</option>-->
                      <!--</select>-->
                      <!--<span class="formErrorMsg">{{ errors[0] }}</span>-->
                    <!--</ValidationProvider>-->
                  <!--</div>-->
                  <div class="col-12">
                    <ValidationProvider :rules="{ regex: /^[0-9- ]+$/, required: true,
                    min: 9, max: 13 }" v-slot="{ errors }">
                      <input type="text" class="form-control"
                             :placeholder="$t('휴대폰번호')"
                             v-model="userModel.phone_number" maxlength="13"
                             @keypress="phoneFormat($event)"/>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>
                </div>

                <!-- 인증번호 요청 버튼 -->
                <div class="mt-2" v-if="mobileVerifier.status === 'INITIAL'">
                  <button class="btn btn-primary btn-block" type="button"
                          @click="mobileVerifier.getVerificationCode(
                            userModel.phone_code, userModel.phone_number)">
                    {{ $t('인증번호 요청') }}
                  </button>
                </div>

                <div v-if="['REQUESTED', 'FAILED'].includes(mobileVerifier.status)">
                  <!-- 인증번호 입력 -->
                  <div class="mt-2">
                    <div class="form-inline">
                      <ValidationProvider rules="required|numeric|min:1|max:6"
                                          v-slot="{ errors }" class="w-100">
                        <input type="text" class="form-control w-100" style="padding-right:150px;"
                               maxlength="6" :placeholder="$t('인증번호')"
                               @keypress="numberFormat($event)"
                               v-model="mobileVerifier.verificationCode">
                        <span class="formErrorMsg">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <span style="margin-left:-144px;">
                        <span>
                          <small>
                            {{ moment.duration(mobileVerifier.timer, 'seconds').format('mm:ss') }}
                          </small>
                        </span>
                        <button class="btn text-secondary" type="button"
                                @click="mobileVerifier.getVerificationCode(
                                  userModel.phone_code, userModel.phone_number)">
                          <small>{{ $t('인증번호 재요청') }}</small>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- 인증 실패 알럿 -->
                  <div class="alert alert-danger mt-3 text-center p-1" role="alert"
                       v-if="mobileVerifier.status === 'FAILED'">
                    <small>Verification code error. Please try again.</small>
                  </div>

                  <!-- 인증하기 -->
                  <button class="btn btn-primary btn-block mt-3" type="button"
                          @click="mobileVerifier.postVerificationCode(
                          userModel.phone_code, userModel.phone_number)">
                    {{ $t('인증하기') }}
                  </button>
                </div>

                <div v-if="['VERIFIED'].includes(mobileVerifier.status)">
                  <!-- 인증번호 입력 (완료) -->
                  <div class="mt-2">
                    <div class="form-inline">
                      <input type="text" class="form-control w-100"
                             style="padding-right:150px;"
                             maxlength="6" :placeholder="$t('인증번호')"
                             @keypress="numberFormat($event)"
                             :disabled="mobileVerifier.status === 'VERIFIED'"
                             v-model="mobileVerifier.verificationCode">
                      <span style="margin-left:-64px;">
                        <small>{{ $t('인증 완료') }}</small>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- START 모바일 인증 완료시 인풋 -->
                <div v-if="mobileVerifier.status === 'VERIFIED'">
                  <!-- 인증 완료 알럿 -->
                  <div class="alert alert-success mt-3 text-center p-1" role="alert">
                    <small>{{ $t('휴대폰번호 인증이 완료되었습니다.') }} {{ $t('아래를 모두 채워주세요.') }}</small>
                  </div>

                  <!-- 비밀번호 입력 -->
                  <div class="form-group mt-4">
                    <ValidationProvider rules="required|alpha_num|min:6|max:16" v-slot="{ errors }">
                      <input type="password" class="form-control"
                             :placeholder="$t('로그인 비밀번호 입력')"
                             v-model="userModel.password" maxlength="16">
                      <small class="form-text text-muted mt-2">
                        {{ $t('로그인 비밀번호는 6자리 이상의 영문+숫자 조합으로 설정하세요') }}
                      </small>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

                  <!-- 관심있는 국가 선택 -->
                  <div class="form-group mt-4">
                    <ValidationProvider rules="required|oneOf:VN,PH,TH,NP" v-slot="{ errors }">
                      <select class="form-control mb-2"
                              v-model="userModel.preferred_country">
                        <option value="" disabled selected>{{ $t('관심 있는 국가 선택') }}</option>
                        <option value="VN">{{ $t('COUNTRIES.베트남') }}</option>
                        <option value="PH">{{ $t('COUNTRIES.필리핀') }}</option>
                        <option value="TH">{{ $t('COUNTRIES.태국') }}</option>
                        <option value="NP">{{ $t('COUNTRIES.네팔') }}</option>
                      </select>
                      <small class="form-text text-muted">
                        {{ $t('게시판을 주로 이용할 관심있는 국가를 선택하세요') }}
                      </small>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

                  <!-- 닉네임 입력-->
                  <div class="form-group mt-4">
                    <ValidationProvider rules="required|alpha_num|min:2|max:16" v-slot="{ errors }">
                      <input type="text" class="form-control"
                             :placeholder="$t('닉네임 입력')"
                             v-model="userModel.nickname" maxlength="16">
                      <small class="form-text text-muted mt-2">
                        {{ $t('글 작성 시 사용할 닉네임을 16글자 이하의 숫자+영문 조합으로 적어주세요') }}
                      </small>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

                  <!-- 약관 동의 체크 -->
                  <div class="mt-4" style="font-size:11pt;">
                    <!-- 이용약관 -->
                    <ValidationProvider :rules="{ required: { allowFalse: false } }"
                                        v-slot="{ errors }">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="registerTerms"
                               v-model="userModel.agree_terms">
                        <label class="form-check-label"
                               for="registerTerms"
                               v-html="$t('이용약관에 동의합니다.')">
                        </label>
                      </div>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>

                    <!-- 개인정보처리방침 -->
                    <ValidationProvider :rules="{ required: { allowFalse: false } }"
                                        v-slot="{ errors }">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="registerPrivacy"
                               v-model="userModel.agree_privacy">
                        <label class="form-check-label"
                               for="registerPrivacy"
                               v-html="$t('개인정보처리방침에 동의합니다.')">
                        </label>
                      </div>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>

                    <!-- 공지 문자메시지 수신 -->
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="registerSMSNotice"
                               v-model="userModel.agree_sms_notice">
                        <label class="form-check-label"
                               for="registerSMSNotice"
                               v-html="$t('공지 문자메시지 수신에 동의합니다.')">
                        </label>
                      </div>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>

                    <!-- 마케팅 문자메시지 수신 -->
                    <ValidationProvider rules="required" v-slot="{ errors }">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="registerSMSMarketing"
                               v-model="userModel.agree_sms_marketing">
                        <label class="form-check-label"
                               for="registerSMSMarketing"
                               v-html="$t('마케팅 문자메시지 수신에 동의합니다.')">
                        </label>
                      </div>
                      <span class="formErrorMsg">{{ errors[0] }}</span>
                    </ValidationProvider>
                  </div>

                  <!-- 완료 버튼 -->
                  <div class="mt-5">
                    <button class="btn btn-primary btn-block" type="submit">
                      {{ $t('완료') }}
                    </button>
                  </div>
                </div>
                <!-- END 모바일 인증 완료시 인풋 -->
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </form>
    </ValidationObserver>
    <div v-if="mobileVerifier.status !== 'VERIFIED'" style="height:180px;"></div>
    <Footer/>
  </div>
</template>

<style>
#mainRegister {
  /*text-align: center;*/
}
</style>

<script>
import { mapGetters } from 'vuex';
import '@/utils/validation';
import { ValidationObserver, ValidationProvider } from 'vee-validate';
import MobileVerifier from '@/api/mobile-verification';
import Header from '@/components/Header.vue';
import BoardNavigator from '@/components/Board/BoardNavigator.vue';
import Footer from '@/components/Footer.vue';

export default {
  name: 'Register',
  components: {
    ValidationObserver,
    ValidationProvider,
    Header,
    BoardNavigator,
    Footer,
  },
  data() {
    return {
      userModel: {
        phone_code: '82',
        phone_number: '',
        password: '',
        nickname: '',
        lang: 'ko', // TODO: Use LocalStorage
        preferred_country: '',
        agree_terms: false,
        agree_privacy: false,
        agree_sms_notice: false,
        agree_sms_marketing: false,
      },
      mobileVerifier: null,
    };
  },
  computed: {
    ...mapGetters(['browsingBoardGroup']),
  },
  methods: {
    registerUser() {
      this.userModel.verification_code = this.mobileVerifier.verificationCode;
      this.$store.dispatch('REGISTER', this.userModel)
        .then(() => {
          // TODO: Improve
          this.$router.push('/');
          this.$store.dispatch('AUTO_SET_BOARD_GROUP');
        })
        .catch((error) => {
          switch (error.response.status) {
            case 409:
              alert('이미 존재하는 회원입니다.');
              break;
            default:
              alert('알 수 없는 에러');
              // eslint-disable-next-line
              console.error(error);
              break;
          }
        });
    },
  },
  mounted() {
    this.mobileVerifier = new MobileVerifier('REGISTRATION', 'INITIAL');
    this.userModel.preferred_country = this.browsingBoardGroup || '';
  },
  watch: {
    browsingBoardGroup(to) {
      this.userModel.preferred_country = to || '';
    },
  },
};
</script>
